<div align="center"><h1><b><font size="6">
  BOLIVIAN ENERGY DEMAND</h1></font></div>
<div align="center"><h2><b><font size="5">
  CHARACTERIZATION BY SECTOR
</h2></font></b></div>

---

<div align="center"><h3><font size="3">
  <b> Developers:</b> Pablo Jimenez Zabalaga, Carlos Fernandez Vazquez
</h3></font></div>

---

<font size="5"><b>Acronyms</b></font>
*   <b>DS</b>: Diesel
*   <b>EI</b>: Energy Intensity
*   <b>EL</b>: Electricity
*   <b>EUD</b>: End-use demand
*   <b>FEC</b>: Final energy consumption
*   <b>FG</b>: Fossil gas or natural gas
*   <b>GS</b>: Gasoline
*   <b>HVC</b>: High value chemicals
*   <b>LFO</b>: Light fuel oil
*   <b>LPG</b>: Liquefied petroleum gas
*   <b>MSMEs</b>: Small and medium-sized enterprises
*   <b>RES_SOLAR</b>: Solar resource
*   <b>SUV</b>: Sport utility vehicle
*   <b>WD</b>: Biomass

<font size="5"><b>Table of Contents</b></font>
<a class="anchor" id="contents"></a> <br>
1. [National Energy Balance - 2021](#section_1)
2. [Model structure](#section_2)  
3. [Residential sector](#section_3)   
   1. [Water heating](#section_3_1)   
      1. [Cochabamba department](#section_3_1_1)  
      2. [La Paz department](#section_3_1_2)  
      3. [Santa Cruz department](#section_3_1_3)  
      4. [Chuquisaca department](#section_3_1_4)  
      5. [Tarija department](#section_3_1_5)  
      6. [Oruro department](#section_3_1_6)  
      7. [Potosí department](#section_3_1_7)  
      8. [Beni department](#section_3_1_8)  
      9. [Pando department](#section_3_1_9)  
      10. [Total demand for Bolivia](#section_3_1_10)    
   2. [Cooking](#section_3_2)   
   3. [Food preservation](#section_3_3)   
   4. [Space heating and cooling](#section_3_4)  
      1. [Cochabamba department](#section_3_4_1)  
      2. [El Alto city](#section_3_4_2)  
      3. [La Paz department](#section_3_4_3)  
      4. [Santa Cruz department](#section_3_4_4)  
      5. [Chuquisaca department](#section_3_4_5)  
      6. [Tarija department](#section_3_4_6)  
      7. [Oruro department](#section_3_4_7)  
      8. [Potosí department](#section_3_4_8)  
      9. [Beni department](#section_3_4_9)  
      10. [Pando department](#section_3_4_10)  
      11. [Total demand for Bolivia](#section_3_4_11)
   5. [Lighting](#section_3_5)  
   6. [Other appliances](#section_3_6)  
   7. [Graphs](#section_3_7)
      1. [Bar chart](#section_3_7_1)  
      2. [Pie chart](#section_3_7_2)  
4. [Transport sector](#section_4)  
   1. [Passenger mobility](#section_4_1)  
      1. [Road](#section_4_1_1)  
      2. [Rail](#section_4_1_2)  
   2. [Freight mobility](#section_4_2)  
      1. [Road](#section_4_2_1)   
      2. [Rail](#section_4_2_2)   
      3. [Water](#section_4_2_3)   
      4. [Air](#section_4_2_4)  
   3. [Graphs](#section_4_3)  
      1. [Bar chart](#section_4_3_1)  
      2. [Pie chart](#section_4_3_2)   
5. [Public lighting](#section_5)   
   1. [Lighting](#section_5_1)  
   2. [Graphs](#section_5_2)
      1. [Bar chart](#section_5_2_1)  
      2. [Pie chart](#section_5_2_2)   
6. [Commercial sector](#section_6)  
   1. [Lighting](#section_6_1)  
   2. [Cooking](#section_6_2)  
   3. [Water heating](#section_6_3)  
   4. [Machinery](#section_6_4)  
   5. [Other appliances](#section_6_5)  
   6. [Graphs](#section_6_6)  
      1. [Bar chart](#section_6_6_1)  
      2. [Pie chart](#section_6_6_2)    
7. [Industrial sector](#section_7)      
   1. [Large enterprises](#section_7_1)
      1. [Cement](#section_7_1_1)
      2. [Pulp and paper](#section_7_1_2)  
      3. [Ceramics and porcelain](#section_7_1_3)  
      4. [Foods and beverages](#section_7_1_4)  
      5. [Chemicals](#section_7_1_5)  
      6. [Construction](#section_7_1_6)
   2. [Micro, small and medium-sized enterprises (MSMEs)](#section_7_2)
      1. [Process Heat](#section_7_2_1)
      2. [Machinery](#section_7_2_2)  
   3. [Graphs](#section_7_3)   
      1. [Bar chart](#section_7_3_1)  
      2. [Pie chart](#section_7_3_2)     
8. [Agriculture](#section_8)  
   1. [Truck](#section_8_1)  
   2. [Irrigation](#section_8_2)  
   3. [Graphs](#section_8_3)  
      1. [Bar chart](#section_8_3_1)  
      2. [Pie chart](#section_8_3_2)
9. [Mining](#section_8)  
   1. [Zinc ore](#section_9_1)  
   2. [Lead ore](#section_9_2)  
   3. [Tin ore](#section_9_3)  
   4. [Copper ore](#section_9_4)  
   5. [Graphs](#section_9_5)  
      1. [Bar chart](#section_9_5_1)  
      2. [Pie chart](#section_9_5_2)  
10. [Fishing and others](#section_10)   
    1. [Machinery](#section_10_1)   
    2. [Graphs](#section_10_2)  
       1. [Bar chart](#section_10_2_1)  
       2. [Pie chart](#section_10_2_2)     
11. [Non-energy](#section_11)   
    1. [High value chemicals](#section_11_1)   
    2. [Graphs](#section_11_2)  
       1. [Bar chart](#section_11_2_1)  
       2. [Pie chart](#section_11_2_2)       
12. [Model output](#section_12)  
    1. [Final dataframe](#section_12_1)   
    2. [Download dataframe](#section_12_2)   
    3. [Graphs](#section_12_3)  
       1. [Bar chart](#section_12_3_1)


---

<font size="5"><b>1. National Energy Balance - 2021</b></font> <a class="anchor" id="section_1"></a>

---

<div align="justify">
<font size="3"><b>References:</b></font>

* Input data for the Bolivian final energy consumption by fuel: <a href='https://sielac.olade.org/WebForms/Reportes/ReporteBalanceEnergetico.aspx?or=600&ss=2&v=1'> Ministerio de Hidrocarburos y Energías (MHE). Balance Energetico Nacional 2006 - 2021; 2022.</a>
</div>
<img src="https://www.bivica.org/files/portadas/6409_thumb.JPG" style="float: center; margin-right: 10px;" width="100%"/>

In [1]:
# Import libraries
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers
pio.renderers.default = "iframe"

In [2]:

# Read the Excel file into a Pandas DataFrame
# df = pd.read_excel(file_name, header=4, engine='openpyxl')

In [3]:
# Import the Google Drive Excel file
google_drive_url = 'https://docs.google.com/spreadsheets/d/1vzgPGMI4y3XHQMNRRJsmn5R7IPVXhnqv/edit?usp=sharing&ouid=107031919989880356069&rtpof=true&sd=true'
# Find the index of '/edit'
edit_index = google_drive_url.find('/edit')
# Remove all text after '/edit' (including '/edit')
google_drive_url = google_drive_url[:edit_index]
# Append '/export' to the cleaned URL
google_drive_url = google_drive_url + '/export'
# Read the Excel file into a Pandas DataFrame
df = pd.read_excel(google_drive_url, header=4, engine='openpyxl')

In [4]:
# Exclude rows 0, 29, 30, 31
rows_to_exclude = [0, 29, 30, 31]
rows_to_exclude = [idx for idx in rows_to_exclude if idx in df.index]
df = df.drop(rows_to_exclude)

In [5]:
# Modify the first column name
df.columns.values[0] = ''

In [6]:
# Convert TJ (10^12 J) to GWh
df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric, errors='coerce') * 0.2777777777777777777777777777777777777777777777778

In [7]:
# Replace NaN values with blank space
df = df.fillna('')

In [8]:
# Reset the index
df = df.reset_index(drop=True)

In [9]:
# Use the first column as row names
df.set_index(df.iloc[:, 0], inplace=True)

In [10]:
# Delete the first column
df.drop(df.columns[[0]], axis=1, inplace=True)

In [11]:
# Display the DataFrame
df

,OIL,NATURAL GAS,COAL,NUCLEAR,HYDROENERGY,GEOTHERMAL,WIND,SOLAR,FIREWOOD,CANE BAGASSE,...,DIESEL OIL WITH BIODIESEL,DIESEL OIL WITHOUT BIODIESEL,FUEL OIL,COKE,CHARCOAL,GASES,OTHER SECONDARY,NON-ENERGY,TOTAL SECONDARIES,TOTAL
,,,,,,,,,,,,,,,,,,,,,
PRODUCTION,24074.786424,163664.40068,,,3234.80361,,119.547987,350.307037,783.969049,10623.258649,...,,6275.195354,0.0,,,1495.252283,1001.361537,218.047109,43150.386525,202851.073436
IMPORT,0.0,0.0,,,,,,,,,...,,14998.414721,0.0,,,0.0,0.0,24.600252,20332.651507,20332.651507
EXPORT,0.0,117379.00078,,,,,,,,,...,,0.0,0.0,,,0.0,819.665028,1.751369,2704.528979,120083.529759
STOCK CHANGE,25.486244,0.0,,,0.0,,,,,,...,,148.402618,0.0,,,0.0,244.617862,-0.932977,464.933961,490.420205
UNUSED,0.0,518.65023,,,0.0,,,,,,...,,0.0,0.0,,,0.0,0.0,0.0,,518.65023
BUNKERS,,,,,,,,,,,...,,0.0,0.0,,,,,,358.994793,358.994793
TOTAL SUPPLY,24100.272668,45766.749671,,,3234.80361,,119.547987,350.307037,783.969049,10623.258649,...,,21422.012693,,,,1495.252283,426.314372,239.963015,60884.448222,102712.970368
TRANSFERS AND BLENDS,,,,,,,,,,,...,,,,,,,,,,
REFINERIES,-25205.888257,,,,,,,,,,...,,6275.195354,0.0,,,1495.252283,1001.361537,218.047109,24787.444007,-418.44425
POWER PLANTS,,-13920.968726,,,-3230.871348,,-119.547987,-350.307037,,-2737.151627,...,,-705.950865,,,,,,,9686.985811,-10671.860915
SELF-PRODUCERS,,-992.623578,,,-3.932262,,,,,-1769.640555,...,,,,,,,,,479.68123,-2286.515165
GAS PLANTS,,-7908.906982,,,,,,,,,...,,0.0,,,,0.0,0.0,0.0,7490.324612,-418.582369
CHARCOAL PLANTS,,,,,,,,,,,...,,,,,,,,,,
COKE PLANTS AND BLAST FURNACES,,,,,,,,,,,...,,,,,,,,,,
OTHER CENTERS,,,,,,,,,,,...,,,,,,,,,,
TOTAL TRANSFORMATION,-25205.888257,-22822.499286,,,-3234.80361,,-119.547987,-350.307037,,-4506.792182,...,,-705.950865,,,,,,,-705.950865,-13795.402699
OWN CONSUMPTION,0.0,3294.867423,,,,,,,,393.55543,...,,0.0,0.0,,,1420.489669,442.315974,0.0,3901.214132,7589.636986
LOSSES,13.836275,456.288891,,,0.0,,,,,,...,,1.0716,0.0,,,74.762614,9.770059,5.451178,1050.501117,1520.626284
ADJUSTMENT,-1119.451864,-327.531465,,,,,,,,0.0,...,,-294.096583,,,,0.0,-25.771661,19.920326,-643.95483,-2090.93816
TRANSPORT,,6738.846668,,,,,,,,,...,,17201.460768,,,,,,,36786.053737,43524.900405
INDUSTRIAL,,8716.986613,,,,,,,,5722.911036,...,,333.757175,,,,,,,2774.224858,17214.122508
RESIDENTIAL,,1912.05623,,,,,,,783.969049,,...,,,,,,,,,9447.750779,12143.776058
"COMMERCIAL, SERVICES, PUBLIC",,607.639028,,,,,,,,,...,,155.403234,,,,,,,2227.84996,2835.488988
"AGRICULTURE, FISHING AND MINING",,,,,,,,,,,...,,2823.729959,,,,,,,3664.898733,3664.898733
CONSTRUCTION AND OTHERS,,,,,,,,,,,...,,494.735675,,,,,,,755.367359,755.367359
ENERGY CONSUMPTION,,17975.528539,,,,,,,783.969049,5722.911036,...,,21009.086811,,,,,,,55656.145426,80138.55405
NON-ENERGY CONSUMPTION,,1545.096997,,,,,,,,,...,,,,,,,,214.591512,214.591512,1759.688509
FINAL CONSUMPTION,,19520.625536,,,,,,,783.969049,5722.911036,...,,21009.086811,,,,,,214.591512,55870.736938,81898.242559

In [12]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("TRANSPORT")]

# Find the headers for the specified columns
selected_columns = ["NATURAL GAS", "ELECTRICITY", "GASOLINE WITHOUT ETHANOL"]
headers_containing_cols = {}
for col in selected_columns:
    headers_containing_cols[col] = [header for header in selected_row.columns if col in header]

# Create a DataFrame for the specified row and columns
data = {}
for col, headers_containing_col in headers_containing_cols.items():
    if headers_containing_col:
        data[col] = selected_row[headers_containing_col].iloc[0].values

result_df = pd.DataFrame(data, index=[selected_row.index[0]])

# Print the new DataFrame
result_df

            NATURAL GAS ELECTRICITY GASOLINE WITHOUT ETHANOL
TRANSPORT   6738.846668   24.856196             18535.698768

In [13]:
# Create the headers for the results dataframe
headers = [
    ['Sector', 'Subsector', 'Class', 'Type of usage', 'Technology', 'EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO', 'Efficiency', 'Energy intensities', 'EI units','EUD', 'EUD units']
]

# Create DataFrame with the first row as column headers
End_Use_df = pd.DataFrame(headers[1:], columns=headers[0])

# Display the DataFrame
End_Use_df

Empty DataFrame
Columns: [Sector, Subsector, Class, Type of usage, Technology, EL, FG, LPG, WD, RES_SOLAR, DS, GS, LFO, Efficiency, Energy intensities, EI units, EUD, EUD units]
Index: []

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>2. Model structure</b></font> <a class="anchor" id="section_2"></a>

---

In [14]:
# Dataset
data = [
    ["Energy demand", "Sector", "Subsector", "Class", "Type of usage", "Technology"],
    ["Energy demand", "Residential", "Water Heating", "Electric Shower", None, None],
    ["Energy demand", "Residential", "Water Heating", "Fossil Gas Boiler", None, None],
    ["Energy demand", "Residential", "Water Heating", "Solar", None, None],
    ["Energy demand", "Residential", "Cooking", "Fossil Gas Stove", None, None],
    ["Energy demand", "Residential", "Cooking", "Biomass Stove", None, None],
    ["Energy demand", "Residential", "Cooking", "LPG Stove", None, None],
    ["Energy demand", "Residential", "Cooking", "Kerosene Stove", None, None],
    ["Energy demand", "Residential", "Cooking", "Electric Stove", None, None],
    ["Energy demand", "Residential", "Food Preservation", "EL Refrigerator", None, None],
    ["Energy demand", "Residential", "Space Heating", "EL Heater", None, None],
    ["Energy demand", "Residential", "Space Cooling", "Electric AC", None, None],
    ["Energy demand", "Residential", "Lighting", "LED", None, None],
    ["Energy demand", "Residential", "Lighting", "Conventional", None, None],
    ["Energy demand", "Residential", "Other Appliances", None, None, None],
    ["Energy demand", "Transport", "Passengers", "Road", "Fossil Gas Car", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Diesel Car", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Gasoline Car", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Electric Car", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Fossil Gas Bus", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Diesel Bus", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Gasoline Bus", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Fossil Gas Pickup truck", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Diesel Pickup truck", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Gasoline Pickup truck", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Fossil Gas SUV", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Diesel SUV", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Gasoline SUV", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Fossil Gas Motorcycle", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Diesel Motorcycle", None],
    ["Energy demand", "Transport", "Passengers", "Road", "Gasoline Motorcycle", None],
    ["Energy demand", "Transport", "Passengers", "Rail", "Electric Tramway", None],
    ["Energy demand", "Transport", "Freight", "Road", "Fossil Gas Truck", None],
    ["Energy demand", "Transport", "Freight", "Road", "Diesel Truck", None],
    ["Energy demand", "Transport", "Freight", "Road", "Gasoline Truck", None],
    ["Energy demand", "Transport", "Freight", "Road", "Fossil Gas Van", None],
    ["Energy demand", "Transport", "Freight", "Road", "Diesel Van", None],
    ["Energy demand", "Transport", "Freight", "Road", "Gasoline Van", None],
    ["Energy demand", "Transport", "Freight", "Road", "DS Cargo motorcycle", None],
    ["Energy demand", "Transport", "Freight", "Road", "GS Cargo motorcycle", None],
    ["Energy demand", "Transport", "Freight", "Rail", "Diesel Train", None],
    ["Energy demand", "Transport", "Freight", "Water", "Diesel Boat", None],
    ["Energy demand", "Transport", "Freight", "Air", "Jet Fuel Aircraft", None],
    ["Energy demand", "Public Lighting", "Lighting", "Conventional", None, None],
    ["Energy demand", "Commercial", "Lighting", "LED", None, None],
    ["Energy demand", "Commercial", "Lighting", "Conventional", None, None],
    ["Energy demand", "Commercial", "Cooking", "Fossil Gas Stove", None, None],
    ["Energy demand", "Commercial", "Cooking", "LPG Stove", None, None],
    ["Energy demand", "Commercial", "Cooking", "Electric Stove", None, None],
    ["Energy demand", "Commercial", "Water heating", "Fossil Gas Boiler", None, None],
    ["Energy demand", "Commercial", "Water heating", "Electric Heater", None, None],
    ["Energy demand", "Commercial", "Machinery", "Diesel Machinery", None, None],
    ["Energy demand", "Commercial", "Machinery", "Electric Machinery", None, None],
    ["Energy demand", "Commercial", "Other Appliances", None, None, None],
    ["Energy demand", "Industrial", "Large enterprises", "Cement", "Process Heat", "Fossil Gas Boiler"],
    ["Energy demand", "Industrial", "Large enterprises", "Cement", "Machinery", "Electric Machinery"],
    ["Energy demand", "Industrial", "Large enterprises", "Pulp & Paper", "Fossil Gas Boiler"],
    ["Energy demand", "Industrial", "Large enterprises", "Pulp & Paper", "Electric Machinery"],
    ["Energy demand", "Industrial", "Large enterprises", "Ceramic & Porcelain", "FG Boiler"],
    ["Energy demand", "Industrial", "Large enterprises", "Ceramic & Porcelain", "EL Machinery"],
    ["Energy demand", "Industrial", "Large enterprises", "Foods & Beverages", "Fossil Gas Boiler"],
    ["Energy demand", "Industrial", "Large enterprises", "Foods & Beverages", "Electric Machinery"],
    ["Energy demand", "Industrial", "Large enterprises", "Chemicals", "FG Boiler"],
    ["Energy demand", "Industrial", "Large enterprises", "Chemicals", "EL Machinery"],
    ["Energy demand", "Industrial", "Large enterprises", "Construction", "Fossil Gas Boiler"],
    ["Energy demand", "Industrial", "Large enterprises", "Construction", "Electric Machinery"],
    ["Energy demand", "Industrial", "MSMEs", "Process Heat", "FG Boiler"],
    ["Energy demand", "Industrial", "MSMEs", "Process Heat", "WD Boiler"],
    ["Energy demand", "Industrial", "MSMEs", "Process Heat", "LPG Boiler"],
    ["Energy demand", "Industrial", "MSMEs", "Process Heat", "LFO Boiler"],
    ["Energy demand", "Industrial", "MSMEs", "Process Heat", "DS Boiler"],
    ["Energy demand", "Industrial", "MSMEs", "Machinery", "EL Machinery"],
    ["Energy demand", "Agriculture", "Truck", "Diesel Truck", None, None],
    ["Energy demand", "Agriculture", "Irrigation", "DS Machinery", None, None],
    ["Energy demand", "Agriculture", "Irrigation", "EL Machinery", None, None],
    ["Energy demand", "Mining", "Zinc Ore", "DS Machinery", None, None],
    ["Energy demand", "Mining", "Zinc Ore", "EL Machinery", None, None],
    ["Energy demand", "Mining", "Lead Ore", "DS Machinery", None, None],
    ["Energy demand", "Mining", "Lead Ore", "EL Machinery", None, None],
    ["Energy demand", "Mining", "Tin Ore", "DS Machinery", None, None],
    ["Energy demand", "Mining", "Tin Ore", "EL Machinery", None, None],
    ["Energy demand", "Mining", "Copper Ore", "DS Machinery", None, None],
    ["Energy demand", "Mining", "Copper Ore", "EL Machinery", None, None],
    ["Energy demand", "Fishing & Others", "Machinery", "DS Machinery", None, None],
    ["Energy demand", "Fishing & Others", "Machinery", "EL Machinery", None, None],
    ["Energy demand", "Non-energy", "HVC", "FG to HVC", None, None],
    ["Energy demand", "Non-energy", "HVC", "LFO to HVC", None, None],
]

# Create a DataFrame
df_st = pd.DataFrame(data[1:], columns=data[0])

# Create a tree map with uniform text size
fig = px.treemap(df_st, path=['Energy demand', 'Sector', 'Subsector', 'Class', 'Type of usage', 'Technology'])

# Update the layout for better visibility and add a title
fig.update_layout(margin=dict(t=0, l=0, r=0, b=0))

fig.update_layout(
    font=dict(
        family="Arial",
        size=11
    ),
    height=970,
    width=1400,
    # uniformtext=dict(minsize=8, mode='hide'),
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>3. Residential sector</b></font> <a class="anchor" id="section_3"></a>

---


---

<font size="4"><b>3.1. Water Heating</b></font> <a class="anchor" id="section_3_1"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

*   Number of households with electricity and water distribution: <a href='https://sawi.aetn.gob.bo/docfly/app/webroot/uploads/Anuario_AETN_2021-rloza-2022-07-04-a.pdf'> Autoridad de Fiscalizacion de Electricidad y Tecnología Nuclear (AETN). Anuario Estadístico 2021; 2022</a>; <a href='https://nube.ine.gob.bo/index.php/s/4KCdUuvHdkDZXcq/download'> Instituto Nacional de Estadistica (INE). Encuestas de Hogares: Hogares según departamento y distribución de agua 2011-2021; 2022.</a>
*   Share of households that possess appliances for water heating: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022.</a>
*   Energy demand related to water heating per household: <a href='http://www.energetica.org.bo/energetica/publicacionesd.asp?d=104'> Noël, N. Proyecto El Sol: Aporte de los STS en la gestión de la demanda eléctrica; 2011.</a>
*   Energy demand related to solar thermal systems: <a href='http://www.energetica.org.bo/elsol/paginas/que_necesito.asp'> ENERGÉTICA. Proyecto El Sol: Calculadora de sistemas de agua caliente sanitaria utilizando colectores solares térmicos; 2012</a>; <a href='https://www.energiasolar.lat/tag/solar-thermal-energy-in-bolivia/'> Solar Platform America Latina (SOPELIA). Solar Thermal Bolivia; 2016.</a>
*   Share of electric showers related to water heating: <a href='https://biblioteca.olade.org/opac-tmpl/Documentos/cg00687.pdf'> Fundación Bariloche, Banco Interamericano de Desarrollo (BID). Calentadores de aguas solares: Estudio de casos de normas de calidad, procedimientos de verificación e instrumentos de información al consumidor para calentadores de agua solares en países de América Latina y El Caribe; 2018.</a>
*   Efficiency of technologies: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a></div>

<font size="3"><b>3.1.1. Cochabamba department</b></font> <a class="anchor" id="section_3_1_1"></a>

In [15]:
# Number of households with electricity and water distribution in Cochabamba
num_households_WD_CB=557331
# Share of households in Cochabamba that possess appliances for water heating
share_household_WH_CB=0.6381
# Energy demand related to water heating per household for Cochabamba (GWh/household)
household_WH_EUD_CB=0.00052369
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Cochabamba (GWh)
RES_SOLAR_WH_FEC_CB=5.2920135
# End-use demand related to solar thermal systems for Cochabamba (GWh)
RES_SOLAR_WH_EUD_CB=RES_SOLAR_WH_FEC_CB*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Cochabamba (GWh)
EL_WH_FEC_CB=((num_households_WD_CB*share_household_WH_CB*household_WH_EUD_CB)-RES_SOLAR_WH_EUD_CB)*share_electric_shower
# End-use demand related to electric showers for Cochabamba (GWh)
EL_WH_EUD_CB=EL_WH_FEC_CB*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Cochabamba (GWh)
FG_WH_FEC_CB=(((num_households_WD_CB*share_household_WH_CB*household_WH_EUD_CB)-RES_SOLAR_WH_EUD_CB)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Cochabamba (GWh)
FG_WH_EUD_CB=FG_WH_FEC_CB*Eff_FG_boiler

<font size="3"><b>3.1.2. La Paz department</b></font> <a class="anchor" id="section_3_1_2"></a>

In [16]:
# Number of households with electricity and water distribution in La Paz
num_households_WD_LP=850931
# Share of households in La Paz that possess appliances for water heating
share_household_WH_LP=0.8215
# Energy demand related to water heating per household for La Paz (GWh/household)
household_WH_EUD_LP=0.000836046
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for La Paz (GWh)
RES_SOLAR_WH_FEC_LP=4.1160105
# End-use demand related to solar thermal systems for La Paz (GWh)
RES_SOLAR_WH_EUD_LP=RES_SOLAR_WH_FEC_LP*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in La Paz (GWh)
EL_WH_FEC_LP=((num_households_WD_LP*share_household_WH_LP*household_WH_EUD_LP)-RES_SOLAR_WH_EUD_LP)*share_electric_shower
# End-use demand related to electric showers for La Paz (GWh)
EL_WH_EUD_LP=EL_WH_FEC_LP*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in La Paz (GWh)
FG_WH_FEC_LP=(((num_households_WD_LP*share_household_WH_LP*household_WH_EUD_LP)-RES_SOLAR_WH_EUD_LP)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for La Paz (GWh)
FG_WH_EUD_LP=FG_WH_FEC_LP*Eff_FG_boiler

<font size="3"><b>3.1.3. Santa Cruz department</b></font> <a class="anchor" id="section_3_1_3"></a>

In [17]:
# Number of households with electricity and water distribution in Santa Cruz
num_households_WD_SC=583057
# Share of households in Santa Cruz that possess appliances for water heating
share_household_WH_SC=0.3589
# Energy demand related to water heating per household for Santa Cruz (GWh/household)
household_WH_EUD_SC=0.000844709
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Santa Cruz (GWh)
RES_SOLAR_WH_FEC_SC=0
# End-use demand related to solar thermal systems for Santa Cruz (GWh)
RES_SOLAR_WH_EUD_SC=RES_SOLAR_WH_FEC_SC*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Santa Cruz (GWh)
EL_WH_FEC_SC=((num_households_WD_SC*share_household_WH_SC*household_WH_EUD_SC)-RES_SOLAR_WH_EUD_SC)*share_electric_shower
# End-use demand related to electric showers for Santa Cruz (GWh)
EL_WH_EUD_SC=EL_WH_FEC_SC*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Santa Cruz (GWh)
FG_WH_FEC_SC=(((num_households_WD_SC*share_household_WH_SC*household_WH_EUD_SC)-RES_SOLAR_WH_EUD_SC)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Santa Cruz (GWh)
FG_WH_EUD_SC=FG_WH_FEC_SC*Eff_FG_boiler

<font size="3"><b>3.1.4. Chuquisaca department</b></font> <a class="anchor" id="section_3_1_4"></a>

<div align="justify"> <font size="3"> For water heating in Chuquisaca department, the share of appliances in households remained similar to Cochabamba department due to the geographical zone of which both departments are part. </font></div>

In [18]:
# Number of households with electricity and water distribution in Chuquisaca
num_households_WD_CH=132593
# Share of households in Chuquisaca that possess appliances for water heating
share_household_WH_CH=0.6381
# Energy demand related to water heating per household for Chuquisaca (GWh/household)
household_WH_EUD_CH=0.000440209
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Chuquisaca (GWh)
RES_SOLAR_WH_FEC_CH=0
# End-use demand related to solar thermal systems for Chuquisaca (GWh)
RES_SOLAR_WH_EUD_CH=RES_SOLAR_WH_FEC_CH*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Chuquisaca (GWh)
EL_WH_FEC_CH=((num_households_WD_CH*share_household_WH_CH*household_WH_EUD_CH)-RES_SOLAR_WH_EUD_CH)*share_electric_shower
# End-use demand related to electric showers for Chuquisaca (GWh)
EL_WH_EUD_CH=EL_WH_FEC_CH*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Chuquisaca (GWh)
FG_WH_FEC_CH=(((num_households_WD_CH*share_household_WH_CH*household_WH_EUD_CH)-RES_SOLAR_WH_EUD_CH)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Chuquisaca (GWh)
FG_WH_EUD_CH=FG_WH_FEC_CH*Eff_FG_boiler

<font size="3"><b>3.1.5. Tarija department</b></font> <a class="anchor" id="section_3_1_5"></a>
<div align="justify"> <font size="3"> For water heating in Tarija department, the share of appliances in households remained similar to Cochabamba department due to the geographical zone of which both departments are part. </font></div>

In [19]:
# Number of households with electricity and water distribution in Tarija
num_households_WD_TJ=118919
# Share of households in Tarija that possess appliances for water heating
share_household_WH_TJ=0.6381
# Energy demand related to water heating per household for Tarija (GWh/household)
household_WH_EUD_TJ=0.000440209
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Tarija (GWh)
RES_SOLAR_WH_FEC_TJ=0
# End-use demand related to solar thermal systems for Tarija (GWh)
RES_SOLAR_WH_EUD_TJ=RES_SOLAR_WH_FEC_TJ*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Tarija (GWh)
EL_WH_FEC_TJ=((num_households_WD_TJ*share_household_WH_TJ*household_WH_EUD_TJ)-RES_SOLAR_WH_EUD_TJ)*share_electric_shower
# End-use demand related to electric showers for Tarija (GWh)
EL_WH_EUD_TJ=EL_WH_FEC_TJ*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Tarija (GWh)
FG_WH_FEC_TJ=(((num_households_WD_TJ*share_household_WH_TJ*household_WH_EUD_TJ)-RES_SOLAR_WH_EUD_TJ)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Tarija (GWh)
FG_WH_EUD_TJ=FG_WH_FEC_TJ*Eff_FG_boiler

<font size="3"><b>3.1.6. Oruro department</b></font> <a class="anchor" id="section_3_1_6"></a>

<div align="justify"> <font size="3"> For water heating in Oruro department, the share of appliances in households remained similar to El Alto city due to the geographical zone of which both locations are part. </font></div>

In [20]:
# Number of households with electricity and water distribution in Oruro
num_households_WD_OR=130489
# Share of households in Oruro that possess appliances for water heating
share_household_WH_OR=0.7089
# Energy demand related to water heating per household for Oruro (GWh/household)
household_WH_EUD_OR=0.000605269
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Oruro (GWh)
RES_SOLAR_WH_FEC_OR=2.352006
# End-use demand related to solar thermal systems for Oruro (GWh)
RES_SOLAR_WH_EUD_OR=RES_SOLAR_WH_FEC_OR*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Oruro (GWh)
EL_WH_FEC_OR=((num_households_WD_OR*share_household_WH_OR*household_WH_EUD_OR)-RES_SOLAR_WH_EUD_OR)*share_electric_shower
# End-use demand related to electric showers for Oruro (GWh)
EL_WH_EUD_OR=EL_WH_FEC_OR*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Oruro (GWh)
FG_WH_FEC_OR=(((num_households_WD_OR*share_household_WH_OR*household_WH_EUD_OR)-RES_SOLAR_WH_EUD_OR)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Oruro (GWh)
FG_WH_EUD_OR=FG_WH_FEC_OR*Eff_FG_boiler

<font size="3"><b>3.1.7. Potosí department</b></font> <a class="anchor" id="section_3_1_7"></a>

<div align="justify"> <font size="3"> For water heating in Potosí department, the share of appliances in households remained similar to El Alto city due to the geographical zone of which both locations are part. </font></div>

In [21]:
# Number of households with electricity and water distribution in Potosí
num_households_WD_PT=147398
# Share of households in Potosí that possess appliances for water heating
share_household_WH_PT=0.7089
# Energy demand related to water heating per household for Potosí (GWh/household)
household_WH_EUD_PT=0.000675981
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Potosí (GWh)
RES_SOLAR_WH_FEC_PT=0
# End-use demand related to solar thermal systems for Potosí (GWh)
RES_SOLAR_WH_EUD_PT=RES_SOLAR_WH_FEC_PT*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Potosí (GWh)
EL_WH_FEC_PT=((num_households_WD_PT*share_household_WH_PT*household_WH_EUD_PT)-RES_SOLAR_WH_EUD_PT)*share_electric_shower
# End-use demand related to electric showers for Potosí (GWh)
EL_WH_EUD_PT=EL_WH_FEC_PT*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Potosí (GWh)
FG_WH_FEC_PT=(((num_households_WD_PT*share_household_WH_PT*household_WH_EUD_PT)-RES_SOLAR_WH_EUD_PT)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Potosí (GWh)
FG_WH_EUD_PT=FG_WH_FEC_PT*Eff_FG_boiler

<font size="3"><b>3.1.8. Beni department</b></font> <a class="anchor" id="section_3_1_8"></a>

<div align="justify"> <font size="3"> For water heating in Beni department, the share of appliances in households and the energy demand per household remained similar to Santa Cruz department due to the geographical zone of which both departments are part. </font></div>

In [22]:
# Number of households with electricity and water distribution in Beni
num_households_WD_BN=55171
# Share of households in Beni that possess appliances for water heating
share_household_WH_BN=0.3589
# Energy demand related to water heating per household for Beni (GWh/household)
household_WH_EUD_BN=0.000844709
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Beni (GWh)
RES_SOLAR_WH_FEC_BN=0
# End-use demand related to solar thermal systems for Beni (GWh)
RES_SOLAR_WH_EUD_BN=RES_SOLAR_WH_FEC_BN*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Beni (GWh)
EL_WH_FEC_BN=((num_households_WD_BN*share_household_WH_BN*household_WH_EUD_BN)-RES_SOLAR_WH_EUD_BN)*share_electric_shower
# End-use demand related to electric showers for Beni (GWh)
EL_WH_EUD_BN=EL_WH_FEC_BN*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Beni (GWh)
FG_WH_FEC_BN=(((num_households_WD_BN*share_household_WH_BN*household_WH_EUD_BN)-RES_SOLAR_WH_EUD_BN)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Beni (GWh)
FG_WH_EUD_BN=FG_WH_FEC_BN*Eff_FG_boiler

<font size="3"><b>3.1.9. Pando department</b></font> <a class="anchor" id="section_3_1_9"></a>

<div align="justify"> <font size="3"> For water heating in Pando department, the share of appliances in households and the energy demand per household remained similar to Santa Cruz department due to the geographical zone of which both departments are part. </font></div>

In [23]:
# Number of households with electricity and water distribution in Pando
num_households_WD_PA=17176
# Share of households in Pando that possess appliances for water heating
share_household_WH_PA=0.3589
# Energy demand related to water heating per household for Pando (GWh/household)
household_WH_FEC_PA=0.000844709
# Efficiency of solar thermal panels
Eff_RES_SOLAR_panel=1
# Energy demand related to solar thermal systems for Pando (GWh)
RES_SOLAR_WH_FEC_PA=0
# End-use demand related to solar thermal systems for Pando (GWh)
RES_SOLAR_WH_EUD_PA=RES_SOLAR_WH_FEC_PA*Eff_RES_SOLAR_panel
# Share of electric showers related to water heating
share_electric_shower=0.975
# Efficiency of electric showers
Eff_EL_shower=1
# Electriciy demand for water heating in Pando (GWh)
EL_WH_FEC_PA=((num_households_WD_PA*share_household_WH_PA*household_WH_FEC_PA)-RES_SOLAR_WH_EUD_PA)*share_electric_shower
# End-use demand related to electric showers for Pando (GWh)
EL_WH_EUD_PA=EL_WH_FEC_PA*Eff_EL_shower
# Efficiency of fossil gas boiler
Eff_FG_boiler=1/1.121681905
# Fossil gas demand for water heating in Pando (GWh)
FG_WH_FEC_PA=(((num_households_WD_PA*share_household_WH_PA*household_WH_FEC_PA)-RES_SOLAR_WH_EUD_PA)*(1-share_electric_shower))/Eff_FG_boiler
# End-use demand related to fossil gas boiler for Pando (GWh)
FG_WH_EUD_PA=FG_WH_FEC_PA*Eff_FG_boiler

<font size="3"><b>3.1.10. Total demand for Bolivia</b></font> <a class="anchor" id="section_3_1_10"></a>

In [24]:
# Electriciy demand for water heating in Bolivia (GWh)
EL_WH_FEC = EL_WH_FEC_CB + EL_WH_FEC_LP + EL_WH_FEC_SC + EL_WH_FEC_CH + EL_WH_FEC_TJ + EL_WH_FEC_OR + EL_WH_FEC_PT + EL_WH_FEC_BN + EL_WH_FEC_PA
# End-use demand related to electric showers for Bolivia (GWh)
EL_WH_EUD = EL_WH_EUD_CB + EL_WH_EUD_LP + EL_WH_EUD_SC + EL_WH_EUD_CH + EL_WH_EUD_TJ + EL_WH_EUD_OR + EL_WH_EUD_PT + EL_WH_EUD_BN + EL_WH_EUD_PA
# Energy intesity per household related to electric showers for Bolivia (GWh)
EL_WH_EI = EL_WH_EUD/(num_households_WD_CB+num_households_WD_LP+num_households_WD_SC+num_households_WD_CH+num_households_WD_TJ+num_households_WD_OR+num_households_WD_PT+num_households_WD_BN+num_households_WD_PA)
# Fossil gas demand for water heating in Bolivia (GWh)
FG_WH_FEC = FG_WH_FEC_CB + FG_WH_FEC_LP + FG_WH_FEC_SC + FG_WH_FEC_CH + FG_WH_FEC_TJ + FG_WH_FEC_OR + FG_WH_FEC_PT + FG_WH_FEC_BN + FG_WH_FEC_PA
# End-use demand related to fossil gas boilers for Bolivia (GWh)
FG_WH_EUD = FG_WH_EUD_CB + FG_WH_EUD_LP + FG_WH_EUD_SC + FG_WH_EUD_CH + FG_WH_EUD_TJ + FG_WH_EUD_OR + FG_WH_EUD_PT + FG_WH_EUD_BN + FG_WH_EUD_PA
# Energy intesity per household related to fossil gas boilers for Bolivia (GWh)
FG_WH_EI = FG_WH_EUD/(num_households_WD_CB+num_households_WD_LP+num_households_WD_SC+num_households_WD_CH+num_households_WD_TJ+num_households_WD_OR+num_households_WD_PT+num_households_WD_BN+num_households_WD_PA)
# Energy demand related to solar thermal systems for Bolivia (GWh)
RES_SOLAR_WH_FEC = RES_SOLAR_WH_FEC_CB + RES_SOLAR_WH_FEC_LP + RES_SOLAR_WH_FEC_SC + RES_SOLAR_WH_FEC_CH + RES_SOLAR_WH_FEC_TJ + RES_SOLAR_WH_FEC_OR + RES_SOLAR_WH_FEC_PT + RES_SOLAR_WH_FEC_BN + RES_SOLAR_WH_FEC_PA
# End-use demand related to solar thermal systems for Bolivia (GWh)
RES_SOLAR_WH_EUD = RES_SOLAR_WH_EUD_CB + RES_SOLAR_WH_EUD_LP + RES_SOLAR_WH_EUD_SC + RES_SOLAR_WH_EUD_CH + RES_SOLAR_WH_EUD_TJ + RES_SOLAR_WH_EUD_OR + RES_SOLAR_WH_EUD_PT + RES_SOLAR_WH_EUD_BN + RES_SOLAR_WH_EUD_PA
# Energy intesity per household related to solar thermal systems for Bolivia (GWh)
RES_SOLAR_WH_EI = RES_SOLAR_WH_EUD/(num_households_WD_CB+num_households_WD_LP+num_households_WD_SC+num_households_WD_CH+num_households_WD_TJ+num_households_WD_OR+num_households_WD_PT+num_households_WD_BN+num_households_WD_PA)
# New rows to be added to the results dataframe
new_rows = [
    ['Residential', 'Residential', 'Residential','Water Heating', 'EL Shower', EL_WH_FEC, '', '', '', '', '', '', '', Eff_EL_shower, EL_WH_EI, 'GWh/household', EL_WH_EUD, 'GWh low_temp'],
    ['Residential', 'Residential', 'Residential','Water Heating', 'FG Boiler', '', FG_WH_FEC,'', '', '', '', '', '', Eff_FG_boiler, FG_WH_EI, 'GWh/household', FG_WH_EUD, 'GWh low_temp'],
    ['Residential', 'Residential', 'Residential','Water Heating', 'Solar Thermal','', '', '', '', RES_SOLAR_WH_FEC, '', '', '', Eff_RES_SOLAR_panel, RES_SOLAR_WH_EI, 'GWh/household', RES_SOLAR_WH_EUD, 'GWh low_temp']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1753008561.py:28: FutureWarning:

The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>3.2. Cooking</b></font> <a class="anchor" id="section_3_2"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

*  Number of households by different technologies for cooking stoves: <a href='https://nube.ine.gob.bo/index.php/s/T0mD2aZ6AKBE48I/download'> Instituto Nacional de Estadistica (INE). Encuestas de Hogares: Hogares según área y tipo de combustible utilizado para cocinar 2011-2021; 2022.</a>
*  Electricity demand related to cooking by electric stoves per household: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 73.</a>
*   Efficiency of fossil gas stoves: <a href='https://www.researchgate.net/publication/285976995_Thermal_efficiency_test_of_a_home_gas_cookstove_in_actual_condition'> Li, Z, & Jiang, Y. Thermal efficiency test of a home gas cookstove in actual condition. Journal of Basic Science and Engineering. 2006, 14(3), 368-374.</a>
*   Efficiency of LPG, LFO and firewood stoves: <a href='https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2003GB002157'> Habib, G, Venkataraman, C, Shrivastava, M, Banerjee, R, Stehr, J. W, Dickerson, R. R. New methodology for estimating biofuel consumption for cooking: Atmospheric emissions of black carbon and sulfur dioxide from India. Global Biogeochemical Cycles. 2004, 18(3).</a>
*   Efficiency of electric stoves: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0959652619305955#fig1'> Landi, D, Consolini, A, Germani, M, Favi, C. Comparative life cycle assessment of electric and gas ovens in the Italian context: An environmental and technical evaluation. Journal of Cleaner Production. 2019, 221, 189-201.</a></div>

In [25]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("RESIDENTIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("NATURAL GAS")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
FG_residential_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of fossil gas stoves
Eff_FG_stove = 1/2.105263158
# Fossil gas consumption for cooking
FG_cook_FEC = FG_residential_FEC-FG_WH_FEC
# End-use demand related to fossil gas stoves
FG_cook_EUD = FG_cook_FEC*Eff_FG_stove
# Number of households with fossil gas stoves in Bolivia
num_households_FG_stove=1054341
# Energy intesity per household related to fossil gas stoves for Bolivia (GWh)
FG_cook_EI = FG_cook_EUD/num_households_FG_stove
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("FIREWOOD")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
WD_residential_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of wood stoves
Eff_WD_stove = 1/6.25
# Wood consumption for cooking
WD_cook_FEC = WD_residential_FEC
# End-use demand related to wood stoves
WD_cook_EUD = WD_cook_FEC*Eff_WD_stove
# Number of households with wood stoves in Bolivia
num_households_WD_stove=368067
# Energy intesity per household related to wood stoves for Bolivia (GWh)
WD_cook_EI = WD_cook_EUD/num_households_WD_stove
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("LPG")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
LPG_residential_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of LPG stoves
Eff_LPG_stove = 1/1.559257667
# LPG consumption for cooking
LPG_cook_FEC = LPG_residential_FEC
# End-use demand related to LPG stoves
LPG_cook_EUD = LPG_cook_FEC*Eff_LPG_stove
# Number of households with LPG stoves in Bolivia
num_households_LPG_stove=2102069
# Energy intesity per household related to LPG stoves for Bolivia (GWh)
LPG_cook_EI = LPG_cook_EUD/num_households_LPG_stove
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("KEROSENE/JET FUEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
LFO_residential_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of LFO stoves
Eff_LFO_stove = 1/2.024291498
# LFO consumption for cooking
LFO_cook_FEC = LFO_residential_FEC
# End-use demand related to LFO stoves
LFO_cook_EUD = LFO_cook_FEC*Eff_LFO_stove
# Number of households with LFO stoves in Bolivia
num_households_LFO_stove=268
# Energy intesity per household related to LFO stoves for Bolivia (GWh)
LFO_cook_EI = LFO_cook_EUD/num_households_LFO_stove
# Number of households with electric stoves in Bolivia
num_households_EL_stove=4620
# Electricity demand related to cooking by electric stoves per household in Bolivia (GWh/household)
household_EL_cook_FEC=66.463034/116014
# Efficiency of electric stoves
Eff_EL_stove = 1
# Electricity demand for cooking
EL_cook_FEC = num_households_EL_stove * household_EL_cook_FEC
# End-use demand related to electric stoves
EL_cook_EUD = EL_cook_FEC*Eff_EL_stove
# Energy intesity per household related to electric stoves for Bolivia (GWh)
EL_cook_EI = EL_cook_EUD/num_households_EL_stove
# New rows to be added to the results dataframe
new_rows = [
    ['Residential', 'Residential', 'Residential','Cooking', 'FG Stove', '', FG_cook_FEC,'', '', '', '', '', '', Eff_FG_stove, FG_cook_EI, 'GWh/household', FG_cook_EUD, 'GWh cooking'],
    ['Residential', 'Residential', 'Residential','Cooking', 'WD Stove', '', '','', WD_cook_FEC, '', '', '', '', Eff_WD_stove, WD_cook_EI, 'GWh/household', WD_cook_EUD, 'GWh cooking'],
    ['Residential', 'Residential', 'Residential','Cooking', 'LPG Stove', '', '', LPG_cook_FEC, '', '', '', '', '', Eff_LPG_stove, LPG_cook_EI, 'GWh/household', LPG_cook_EUD, 'GWh cooking'],
    ['Residential', 'Residential', 'Residential','Cooking', 'LFO Stove', '', '', '', '', '', '', '', LFO_cook_FEC, Eff_LFO_stove, LFO_cook_EI, 'GWh/household', LFO_cook_EUD, 'GWh cooking'],
    ['Residential', 'Residential', 'Residential','Cooking', 'EL Stove', EL_cook_FEC, '','', '', '', '', '', '', Eff_EL_stove, EL_cook_EI, 'GWh/household', EL_cook_EUD, 'GWh cooking']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>3.3. Food preservation</b></font> <a class="anchor" id="section_3_3"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Number of people per urban household: <a href='https://nube.ine.gob.bo/index.php/s/ditEqwL8GK76yWz/download'> Instituto Nacional de Estadistica (INE). Encuestas de Hogares: Número promedio de personas por hogar, según área y departamento 2011-2021; 2022.</a>
* Number of urban population: <a href='https://nube.ine.gob.bo/index.php/s/ogXh3nVAULLpj6X/download'> Instituto Nacional de Estadistica (INE). Bolivia - Área urbana: Población por mes, según condición de actividad y sexo, 2015 - 2023; 2023.</a>
* Number of urban households: <a href='https://nube.ine.gob.bo/index.php/s/1KTKuqYqS3J7V6k/download'> Instituto Nacional de Estadistica (INE). Encuestas de Hogares: Hogares según área, tipo y tenencia de la vivienda, 2011 - 2021; 2023.</a>
* Share of urban households that possess appliances for food preservation: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 15.</a>
* Annual electricity demand related to food preservation per household: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 81.</a>
* Efficiency of electric refrigerators: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 81.</a></div>

In [26]:
# Number of people per urban household
num_people_household=3.33
# Urban population
urban_population=8386150
# Number of urban households
num_urban_households=2515320
# Share of urban households that possess appliances for food preservation or refrigeration
share_household_FP=0.828
# Number of households with electric refrigerators in Bolivia
num_households_EL_refrigerator=num_urban_households*share_household_FP
# Annual electricity demand related to food preservation or refrigeration in GWh per household
household_FP_FEC = (34.283877*12)/(1083994*share_household_FP)
# Efficiency of electric refrigerators
Eff_EL_refrigerator=0.35812672176308539944903581267218
# Electriciy demand for food preservation in Bolivia (GWh)
EL_FP_FEC=num_households_EL_refrigerator*household_FP_FEC
# End-use demand related to electric refrigerators in Bolivia (GWh)
EL_FP_EUD=EL_FP_FEC*Eff_EL_refrigerator
# Energy intesity per household related to electric stoves for Bolivia (GWh)
EL_FP_EI = EL_FP_EUD/num_households_EL_refrigerator
# New rows to be added to the results dataframe
new_rows = [
    ['Residential', 'Residential', 'Residential','Food Preservation', 'EL Refrigerator', EL_FP_FEC, '','', '', '', '', '', '', Eff_EL_refrigerator, EL_FP_EI, 'GWh/household', EL_FP_EUD, 'GWh food preservation']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>3.4. Space heating and cooling</b></font> <a class="anchor" id="section_3_4"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Total population per department: <a href='https://nube.ine.gob.bo/index.php/s/9EKiMktBVFck4TJ/download'> Instituto Nacional de Estadistica (INE). Proyecciones de población: Población estimada y proyectada por departamento, según años calendario, 2012-2025; 2020.</a>
* Total population in El Alto city: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 40.</a>
* Urban population per department: <a href='https://www.la-razon.com/sociedad/2022/07/30/encuesta-de-hogares-el-705-de-la-poblacion-vive-en-el-area-urbana/'> Instituto Nacional de Estadistica (INE). Encuesta de Hogares: El 70,5% de la población vive en el área urbana en 2021; 2022.</a>
* Number of urban population: <a href='https://nube.ine.gob.bo/index.php/s/ogXh3nVAULLpj6X/download'> Instituto Nacional de Estadistica (INE). Bolivia - Área urbana: Población por mes, según condición de actividad y sexo, 2015 - 2023; 2023.</a>
* Share of urban households that possess appliances for space heating and space cooling per department and El Alto city: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 84-85.</a>
* Efficiency of electric space heating: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a>
* Efficiency of electric space cooling: <a href='https://www.mdpi.com/1996-1073/16/6/2772'> Thiran, P, Jeanmart, H, Contino, F. Validation of a Method to Select a Priori the Number of Typical Days for Energy System Optimisation Models. Energies. 2023; 16(6), 2772.</a></div>

<font size="3"><b>3.4.1. Cochabamba department</b></font> <a class="anchor" id="section_3_4_1"></a>

In [27]:
# Population of Cochabamba
total_population_CB=2086930
# Urban population of Cochabamba
urban_population_CB=1491232
# Number of households in Cochabamba
num_households_CB=651977
# Number of urban households in Cochabamba
num_urban_households_CB=num_households_CB*(urban_population_CB/total_population_CB)
# Share of urban households in Cochabamba that possess appliances for space heating
share_household_SH_CB=0.0922
# Number of households with appliances space heating in Cochabamba
num_households_SH_CB=num_urban_households_CB*share_household_SH_CB
# Efficiency of electric space heating
Eff_EL_SH = 1
# Electricity demand related to space heating per household in Cochabamba (GWh/household)
household_SH_FEC_CB=(0.121781*12)/(249505*share_household_SH_CB)
# Electriciy demand for space heating in Cochabamba (GWh)
EL_SH_FEC_CB=num_households_SH_CB*household_SH_FEC_CB
# End-use demand related to electric space heating in Cochabamba (GWh)
EL_SH_EUD_CB=EL_SH_FEC_CB*Eff_EL_SH

<font size="3"><b>3.4.2. El Alto city</b></font> <a class="anchor" id="section_3_4_2"></a>

In [28]:
# Population of El Alto
total_population_EA=1089126
# Number of people per urban household
num_people_household_EA=3.17
# Number of households in El Alto
num_households_EA=total_population_EA/num_people_household_EA
# Share of urban households in El Alto that possess appliances for space heating
share_household_SH_EA=0.0490
# Number of households with appliances space heating in El Alto
num_households_SH_EA=num_households_EA*share_household_SH_EA
# Efficiency of electric space heating
Eff_EL_SH = 1
# Electricity demand related to space heating per household in El Alto (GWh/household)
household_SH_FEC_EA=(0.267484*12)/(266889*share_household_SH_EA)
# Electriciy demand for space heating in El Alto (GWh)
EL_SH_FEC_EA=num_households_SH_EA*household_SH_FEC_EA
# End-use demand related to electric space heating in El Alto (GWh)
EL_SH_EUD_EA=EL_SH_FEC_EA*Eff_EL_SH

<font size="3"><b>3.4.3. La Paz department</b></font> <a class="anchor" id="section_3_4_3"></a>

In [29]:
# Population of La Paz
total_population_LP=3023791-total_population_EA
# Urban population of La Paz
urban_population_LP=2062934
# Number of households in La Paz
num_households_LP=956289-num_households_EA
# Number of urban households in La Paz
num_urban_households_LP=num_households_LP*(urban_population_LP/total_population_LP)
# Share of urban households in La Paz that possess appliances for space heating
share_household_SH_LP=0.0820
# Number of households with appliances space heating in La Paz
num_households_SH_LP=num_urban_households_LP*share_household_SH_LP
# Efficiency of electric space heating
Eff_EL_SH = 1
# Electricity demand related to space heating per household in La Paz (GWh/household)
household_SH_FEC_LP=(0.292089*12)/(225400*share_household_SH_LP)
# Electriciy demand for space heating in La Paz (GWh)
EL_SH_FEC_LP=num_households_SH_LP*household_SH_FEC_LP
# End-use demand related to electric space heating in La Paz (GWh)
EL_SH_EUD_LP=EL_SH_FEC_LP*Eff_EL_SH

<font size="3"><b>3.4.4. Santa Cruz department</b></font> <a class="anchor" id="section_3_4_4"></a>

In [30]:
# Population of Santa Cruz
total_population_SC=3363377
# Urban population of Santa Cruz
urban_population_SC=2853283
# Number of households in Santa Cruz
num_households_SC=994528
# Number of urban households in Santa Cruz
num_urban_households_SC=num_households_SC*(urban_population_SC/total_population_SC)
# Share of urban households in Santa Cruz that possess appliances for space cooling
share_household_CL_SC=0.7004
# Number of households with appliances space cooling in Santa Cruz
num_households_CL_SC=num_urban_households_SC*share_household_CL_SC
# Efficiency of electric space cooling
Eff_EL_CL = 1 / 0.3143
# Electricity demand related to space cooling per household in Santa Cruz (GWh/household)
household_CL_FEC_SC=(9.009416*12)/(342200*share_household_CL_SC)
# Electriciy demand for space cooling in Santa Cruz (GWh)
EL_CL_FEC_SC=num_households_CL_SC*household_CL_FEC_SC
# End-use demand related to electric space cooling in Santa Cruz (GWh)
EL_CL_EUD_SC=EL_CL_FEC_SC*Eff_EL_CL

<font size="3"><b>3.4.5. Chuquisaca department</b></font> <a class="anchor" id="section_3_4_5"></a>

<div align="justify"> <font size="3"> For space heating in Chuquisaca department, the share of appliances in urban households and the electricity consumption per household remained similar to Cochabamba department due to the geographical zone of which both departments are part. </font></div>

In [31]:
# Population of Chuquisaca
total_population_CH=654035
# Urban population of Chuquisaca
urban_population_CH=341149
# Number of households in Chuquisaca
num_households_CH=187077
# Number of urban households in Chuquisaca
num_urban_households_CH=num_households_CH*(urban_population_CH/total_population_CH)
# Share of urban households in Chuquisaca that possess appliances for space heating
share_household_SH_CH=share_household_SH_CB
# Number of households with appliances space heating in Chuquisaca
num_households_SH_CH=num_urban_households_CH*share_household_SH_CH
# Efficiency of electric space heating
Eff_EL_SH = 1
# Electricity demand related to space heating per household in Chuquisaca (GWh/household)
household_SH_FEC_CH=household_SH_FEC_CB
# Electriciy demand for space heating in Chuquisaca (GWh)
EL_SH_FEC_CH=num_households_SH_CH*household_SH_FEC_CH
# End-use demand related to electric space heating in Chuquisaca (GWh)
EL_SH_EUD_CH=EL_SH_FEC_CH*Eff_EL_SH

<font size="3"><b>3.4.6. Tarija department</b></font> <a class="anchor" id="section_3_4_6"></a>

<div align="justify"> <font size="3"> For space heating in Tarija department, the share of appliances in urban households and the electricity consumption per household remained similar to Cochabamba department due to the geographical zone of which both departments are part.</font></div>

In [32]:
# Population of Tarija
total_population_TJ=591828
# Urban population of Tarija
urban_population_TJ=410373
# Number of households in Tarija
num_households_TJ=200989
# Number of urban households in Tarija
num_urban_households_TJ=num_households_TJ*(urban_population_TJ/total_population_TJ)
# Share of urban households in Tarija that possess appliances for space heating
share_household_SH_TJ=share_household_SH_CB
# Number of households with appliances space heating in Tarija
num_households_SH_TJ=num_urban_households_TJ*share_household_SH_TJ
# Efficiency of electric space heating
Eff_EL_SH = 1
# Electricity demand related to space heating per household in Tarija (GWh/household)
household_SH_FEC_TJ=household_SH_FEC_CB
# Electriciy demand for space heating in Tarija (GWh)
EL_SH_FEC_TJ=num_households_SH_TJ*household_SH_FEC_TJ
# End-use demand related to electric space heating in Tarija (GWh)
EL_SH_EUD_TJ=EL_SH_FEC_TJ*Eff_EL_SH

<font size="3"><b>3.4.7. Oruro department</b></font> <a class="anchor" id="section_3_4_7"></a>

<div align="justify"> <font size="3"> For space heating in the department of Oruro, the share of electrical appliances in urban households and electricity consumption per household remained similar to those of the city of El Alto because both are part of the same geographic zone and therefore, the same climatic conditions. </font></div>

In [33]:
# Population of Oruro
total_population_OR=548537
# Urban population of Oruro
urban_population_OR=367034
# Number of households in Oruro
num_households_OR=175077
# Number of urban households in Oruro
num_urban_households_OR=num_households_OR*(urban_population_OR/total_population_OR)
# Share of urban households in Oruro that possess appliances for space heating
share_household_SH_OR=share_household_SH_EA
# Number of households with appliances space heating in Oruro
num_households_SH_OR=num_urban_households_OR*share_household_SH_OR
# Efficiency of electric space heating
Eff_EL_SH = 1
# Electricity demand related to space heating per household in Oruro (GWh/household)
household_SH_FEC_OR=household_SH_FEC_EA
# Electriciy demand for space heating in Oruro (GWh)
EL_SH_FEC_OR=num_households_SH_OR*household_SH_FEC_OR
# End-use demand related to electric space heating in Oruro (GWh)
EL_SH_EUD_OR=EL_SH_FEC_OR*Eff_EL_SH

<font size="3"><b>3.4.8. Potosí department</b></font> <a class="anchor" id="section_3_4_8"></a>

<div align="justify"> <font size="3"> For space heating in the department of Potosí, the share of electrical appliances in urban households and electricity consumption per household remained similar to those of the city of El Alto because both are part of the same geographic zone and therefore, the same climatic conditions.</font></div>

In [34]:
# Population of Potosí
total_population_PT=907686
# Urban population of Potosí
urban_population_PT=394700
# Number of households in Potosí
num_households_PT=273298
# Number of urban households in Potosí
num_urban_households_PT=num_households_PT*(urban_population_PT/total_population_PT)
# Share of urban households in Potosí that possess appliances for space heating
share_household_SH_PT=share_household_SH_EA
# Number of households with appliances space heating in Potosí
num_households_SH_PT=num_urban_households_PT*share_household_SH_PT
# Efficiency of electric space heating
Eff_EL_SH = 1
# Electricity demand related to space heating per household in Potosí (GWh/household)
household_SH_FEC_PT=household_SH_FEC_EA
# Electriciy demand for space heating in Potosí (GWh)
EL_SH_FEC_PT=num_households_SH_PT*household_SH_FEC_PT
# End-use demand related to electric space heating in Potosí (GWh)
EL_SH_EUD_PT=EL_SH_FEC_PT*Eff_EL_SH

<font size="3"><b>3.4.9. Beni department</b></font> <a class="anchor" id="section_3_4_9"></a>

<div align="justify"> <font size="3"> For space cooling in Beni department, the share of appliances in urban households and the electricity consumption per household remained similar to Santa Cruz department due to the geographical zone of which both departments are part.</font></div>

In [35]:
# Population of Beni
total_population_BN=507095
# Urban population of Beni
urban_population_BN=382350
# Number of households in Beni
num_households_BN=150324
# Number of urban households in Beni
num_urban_households_BN=num_households_BN*(urban_population_BN/total_population_BN)
# Share of urban households in Beni that possess appliances for space heating
share_household_CL_BN=share_household_CL_SC
# Number of households with appliances space cooling in Beni
num_households_CL_BN=num_urban_households_BN*share_household_CL_BN
# Efficiency of electric space cooling
Eff_EL_CL = 1 / 0.3143
# Electricity demand related to space cooling per household in Beni (GWh/household)
household_CL_FEC_BN=household_CL_FEC_SC
# Electriciy demand for space cooling in Beni (GWh)
EL_CL_FEC_BN=num_households_CL_BN*household_CL_FEC_BN
# End-use demand related to electric space cooling in Beni (GWh)
EL_CL_EUD_BN=EL_CL_FEC_BN*Eff_EL_CL

<font size="3"><b>3.4.10. Pando department</b></font> <a class="anchor" id="section_3_4_10"></a>

<div align="justify"> <font size="3"> For space cooling in Pando department, the share of appliances in urban households and the electricity consumption per household remained similar to Santa Cruz department due to the geographical zone of which both departments are part.</font></div>

In [36]:
# Population of Pando
total_population_PA=158676
# Urban population of Pando
urban_population_PA=96792
# Number of households in Pando
num_households_PA=47902
# Number of urban households in Pando
num_urban_households_PA=num_households_PA*(urban_population_PA/total_population_PA)
# Share of urban households in Pando that possess appliances for space heating
share_household_CL_PA=share_household_CL_SC
# Number of households with appliances space cooling in Pando
num_households_CL_PA=num_urban_households_PA*share_household_CL_PA
# Efficiency of electric space cooling
Eff_EL_CL = 1 / 0.3143
# Electricity demand related to space cooling per household in Pando (GWh/household)
household_CL_FEC_PA=household_CL_FEC_SC
# Electriciy demand for space cooling in Pando (GWh)
EL_CL_FEC_PA=num_households_CL_PA*household_CL_FEC_PA
# End-use demand related to electric space cooling in Pando (GWh)
EL_CL_EUD_PA=EL_CL_FEC_PA*Eff_EL_CL

<font size="3"><b>3.4.11. Total demand for Bolivia</b></font> <a class="anchor" id="section_3_4_11"></a>

In [37]:
# Electriciy demand for space heating in Bolivia (GWh)
EL_SH_FEC = EL_SH_FEC_CB + EL_SH_FEC_LP + EL_SH_FEC_EA + EL_SH_FEC_CH + EL_SH_FEC_TJ + EL_SH_FEC_OR + EL_SH_FEC_PT
# End-use demand related to electric space heating for Bolivia (GWh)
EL_SH_EUD = EL_SH_EUD_CB + EL_SH_EUD_LP + EL_SH_EUD_EA + EL_SH_EUD_CH + EL_SH_EUD_TJ + EL_SH_EUD_OR + EL_SH_EUD_PT
# Energy intesity per household related to electric space heating for Bolivia (GWh)
EL_SH_EI = EL_SH_EUD/(num_households_SH_CB+num_households_SH_LP+num_households_SH_EA+num_households_SH_CH+num_households_SH_TJ+num_households_SH_OR+num_households_SH_PT)
# Electriciy demand for space cooling in Bolivia (GWh)
EL_CL_FEC = EL_CL_FEC_SC + EL_CL_FEC_BN + EL_CL_FEC_PA
# End-use demand related to electric space cooling for Bolivia (GWh)
EL_CL_EUD = EL_CL_EUD_SC + EL_CL_EUD_BN + EL_CL_EUD_PA
# Energy intesity per household related to electric space heating for Bolivia (GWh)
EL_CL_EI = EL_CL_EUD/(num_households_CL_SC+num_households_CL_BN+num_households_CL_PA)
# New rows to be added to the results dataframe
new_rows = [
    ['Residential', 'Residential', 'Residential','Space Heating', 'EL Heater', EL_SH_FEC, '', '', '', '', '', '', '', Eff_EL_SH, EL_SH_EI, 'GWh/household', EL_SH_EUD, 'GWh space heating'],
    ['Residential', 'Residential', 'Residential','Space Cooling', 'EL AC', EL_CL_FEC, '', '', '', '', '', '', '', Eff_EL_CL, EL_CL_EI, 'GWh/household', EL_CL_EUD, 'GWh space cooling']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>3.5. Lighting</b></font> <a class="anchor" id="section_3_5"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Number of households: <a href='https://nube.ine.gob.bo/index.php/s/1KTKuqYqS3J7V6k/download'> Instituto Nacional de Estadistica (INE). Encuesta de Hogares: Hogares según departamento y tenencia de la vivienda 2011-2021; 2022.</a>
* Electricity demand related to residential lighting: <a href='https://united4efficiency.org/wp-content/uploads/2022/03/5299-Bolivia-MEPS-y-Etiquetado_40321.pdf'> United Nations Environment Programme (UNEP),  Lafitte, B. Proyecto Nacional de Iluminación Eficiente en Bolivia:“Delivering the transition to Energy Efficiency Lighting”; 2022.</a>
* Share of LED lighting for households: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 79.</a>
* Efficiency of conventional and LED lighting: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 26.</a></div>

In [38]:
# Number of households in Bolivia
num_households=3637461
# Electricity demand related to residential lighting in Bolivia (GWh)
EL_light_FEC = 400
# Efficiency of LED lighting
Eff_EL_LED_light = 0.34
# Share of LED lighting for households in Bolivia
share_LED_light = 0.0750775529863436
# Electricity demand related to LED residential lighting in Bolivia (GWh)
EL_LED_light_FEC = EL_light_FEC * share_LED_light
# End-use demand related to LED residential lighting in Bolvia (GWh)
EL_LED_light_EUD = EL_LED_light_FEC*Eff_EL_LED_light
# Energy intesity per household related to LED residential lighting for Bolivia (GWh)
EL_LED_light_EI = EL_LED_light_EUD/num_households
# Efficiency of conventional lighting
Eff_EL_conventional_light = 0.1025
# Electricity demand related to conventional residential lighting in Bolivia (GWh)
EL_conventional_light_FEC = EL_light_FEC - EL_LED_light_FEC
# End-use demand related to conventional residential lighting in Bolvia (GWh)
EL_conventional_light_EUD = EL_conventional_light_FEC*Eff_EL_conventional_light
# Energy intesity per household related to conventional residential lighting for Bolivia (GWh)
EL_conventional_light_EI = EL_conventional_light_EUD/num_households
# New rows to be added to the results dataframe
new_rows = [
    ['Residential', 'Residential', 'Residential','Lighting', 'LED_bulb', EL_LED_light_FEC, '','', '', '', '', '', '', Eff_EL_LED_light, EL_LED_light_EI, 'GWh/household', EL_LED_light_EUD, 'GWh lighting'],
    ['Residential', 'Residential', 'Residential','Lighting', 'Conventional_bulb', EL_conventional_light_FEC, '','', '', '', '', '', '', Eff_EL_conventional_light, EL_conventional_light_EI, 'GWh/household', EL_conventional_light_EUD, 'GWh lighting']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>3.6. Other appliances</b></font> <a class="anchor" id="section_3_6"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of electrical appliances: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 23.</a></div>

In [39]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("RESIDENTIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("ELECTRICITY")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
EL_residential_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of electrical appliances
Eff_EL_appliance = 1
# Electricity demand for other electrical appliances in Bolivia (GWh)
EL_appliance_FEC = EL_residential_FEC - EL_WH_FEC - EL_cook_FEC - EL_FP_FEC - EL_SH_FEC - EL_CL_FEC - EL_LED_light_FEC - EL_conventional_light_FEC
# End-use demand related to other electrical appliances in Bolivia (GWh)
EL_appliance_EUD = EL_appliance_FEC*Eff_EL_appliance
# Energy intesity per household related to other electrical appliances for Bolivia (GWh/household)
EL_appliance_EI = EL_appliance_EUD/num_households
# New rows to be added to the results dataframe
new_rows = [
    ['Residential', 'Residential', 'Residential','Other Appliances', 'EL appliances', EL_appliance_FEC, '','', '', '', '', '', '', Eff_EL_appliance, EL_appliance_EI, 'GWh/household', EL_appliance_EUD, 'GWh electricity']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

In [40]:
# Target division
Division = 'Sector'
# Target value
Value = 'Residential'
# Target header
Header = 'EL'
# Check if 'Residential' is in each row of the first column
target_rows = End_Use_df[End_Use_df[Division] == Value ]
if not target_rows.empty:
    # Filter out non-numeric values in the 'EL' column and then sum
    numeric_values = pd.to_numeric(target_rows[Header], errors='coerce')
    total_sum = numeric_values.sum()
    print(f"Sum of 'EL' consumption for 'Residential': {total_sum:.6f}")
else:
    print("No row with 'Residential' found in the first column.")

Sum of 'EL' consumption for 'Residential': 3635.201905

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>3.7. Graphs</b></font> <a class="anchor" id="section_3_7"></a>

---

<font size="3"><b>3.7.1. Bar chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_3_7_1"></a>

In [41]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [42]:
# Import libraries
import plotly.express as px

# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Residential')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=625,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Type of usage',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>3.7.2. Pie chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_3_7_2"></a>

In [43]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from itertools import cycle

# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Residential')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Division
fig = make_subplots(rows=2, cols=4, subplot_titles=grouped_df['Division'].unique(), specs=[[{'type': 'pie'}]*4]*2)

row, col = 1, 1
for division in grouped_df['Division'].unique():
    values = grouped_df[grouped_df['Division'] == division][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=division,
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique divisions than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=950,
    width=1375,
    annotations=[dict(text=header, font=dict(size=15), showarrow=False) for i, (header, col, row) in enumerate(zip(grouped_df['Division'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>4. Transport sector</b></font> <a class="anchor" id="section_4"></a>

---


---

<font size="4"><b>4.1. Passenger mobility</b></font> <a class="anchor" id="section_4_1"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Total population per department: <a href='https://nube.ine.gob.bo/index.php/s/9EKiMktBVFck4TJ/download'> Instituto Nacional de Estadistica (INE). Proyecciones de población: Población estimada y proyectada por departamento, según años calendario, 2012-2025; 2020.</a>
* Number of passenger mobility by technology: <a href='https://nube.ine.gob.bo/index.php/s/NIlpzUKYIiieeAd/download'> Instituto Nacional de Estadistica (INE). Estadistícas del parque automotor: Parque Automotor por tipo de servicio y clase de vehículo, 2003 - 2022; 2023.</a>
* Average annual distance traveled of passenger mobility by technology: <a href='https://revistas.univalle.edu/index.php/ciencias/article/download/450/893'> Marañón Rodriguez, S. Análisis de escenarios potenciales de desarrollo para el parque automotor de Bolivia y sus emisiones de gases efecto invernadero en el software LEAP para el periodo 2020-2030; 2022.</a>
* Occupancy per technology of passenger mobility: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a>
* Share of passenger mobility per technology: <a href='https://nube.ine.gob.bo/index.php/s/9EKiMktBVFck4TJ/download'> Instituto Nacional de Estadistica (INE). Proyecciones de población: Población estimada y proyectada por departamento, según años calendario, 2012-2025; 2020.</a>
* Fuel consumption per technology of passenger mobility: <a href='https://revistas.univalle.edu/index.php/ciencias/article/download/450/893'> Marañón Rodriguez, S. Análisis de escenarios potenciales de desarrollo para el parque automotor de Bolivia y sus emisiones de gases efecto invernadero en el software LEAP para el periodo 2020-2030; 2022.</a>
* Density of fuels: <a href='https://upsa.edu.bo/images/triple-in-3-upsa.pdf'> Peña Galarza, H.H, Ehrenfeld Rodas, I, Mercado Pinto, D, Pacheco Topikha, M.H. Uso del GLP como combustible automotor en Bolivia. TRIPLE IN N° 03. 2021.</a>
* Lower heating value of fuels: <a href='https://upsa.edu.bo/images/triple-in-3-upsa.pdf'> Peña Galarza, H.H, Ehrenfeld Rodas, I, Mercado Pinto, D, Pacheco Topikha, M.H. Uso del GLP como combustible automotor en Bolivia. TRIPLE IN N° 03. 2021.</a></div>

<font size="3"><b>4.1.1. Road</b></font> <a class="anchor" id="section_4_1_1"></a>

In [44]:
# Total population of Bolivia
total_population=total_population_CB+total_population_LP+total_population_EA+total_population_SC+total_population_CH+total_population_TJ+total_population_OR+total_population_PT+total_population_BN+total_population_PA
# Number of cars in Bolivia
num_car=362220
# Average annual distance traveled of fossil gas cars in Bolivia (km)
avg_dist_FG_car=128.94*365
# Occupancy of fossil gas cars in Bolivia (passengers/vehicle)
occ_FG_car=1.26
# Vehicle capacity of fossil gas cars in Bolivia (Mkm-passenger/vehicle)
veh_cap_FG_car=(avg_dist_FG_car*occ_FG_car)/1000000
# Share of fossil gas cars related to total cars in Bolivia
share_FG_car=0.081228804
# Fuel consumption related to fossil gas cars (L/Km)
fuel_cons_FG_car=0.132
# Density of fossil gas (kg/L)
density_FG=0.423
# Lower heating value of fossil gas (MJ/kg)
LHV_FG=50.199732
# Efficiency of fossil gas cars (Mkm-passenger/GWh)
Eff_FG_car = ((fuel_cons_FG_car/occ_FG_car)*1000000*density_FG*LHV_FG)/3600000
# End-use demand related to fossil gas cars in Bolivia (Mkm-passenger)
FG_car_EUD = num_car * share_FG_car * veh_cap_FG_car
# Fuel demand for fossil gas cars in Bolivia (GWh)
FG_car_FEC = FG_car_EUD * Eff_FG_car
# Energy intesity per capita related to fossil gas cars in Bolivia (Mkm-passenger/person)
FG_car_EI = FG_car_EUD/total_population
# Average annual distance traveled of diesel cars in Bolivia (km)
avg_dist_DS_car=128.94*365
# Occupancy of diesel cars in Bolivia (passengers/vehicle)
occ_DS_car=1.26
# Vehicle capacity of diesel cars in Bolivia (Mkm-passenger/vehicle)
veh_cap_DS_car=(avg_dist_DS_car*occ_DS_car)/1000000
# Share of diesel cars related to total cars in Bolivia
share_DS_car=0.226923336
# Fuel consumption related to diesel cars (L/Km)
fuel_cons_DS_car=0.092
# Density of diesel (kg/L)
density_DS=0.82
# Lower heating value of diesel (MJ/kg)
LHV_DS=43.2
# Efficiency of diesel cars (Mkm-passenger/GWh)
Eff_DS_car = ((fuel_cons_DS_car/occ_DS_car)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel cars in Bolivia (Mkm-passenger)
DS_car_EUD = num_car * share_DS_car * veh_cap_DS_car
# Fuel demand for diesel cars in Bolivia (GWh)
DS_car_FEC = DS_car_EUD * Eff_DS_car
# Energy intesity per capita related to diesel cars in Bolivia (Mkm-passenger/person)
DS_car_EI = DS_car_EUD/total_population
# Average annual distance traveled of gasoline cars in Bolivia (km)
avg_dist_GS_car=128.94*365
# Occupancy of gasoline cars in Bolivia (passengers/vehicle)
occ_GS_car=1.26
# Vehicle capacity of gasoline cars in Bolivia (Mkm-passenger/vehicle)
veh_cap_GS_car=(avg_dist_GS_car*occ_GS_car)/1000000
# Share of gasoline cars related to total cars in Bolivia
share_GS_car=0.716442138
# Fuel consumption related to gasoline cars (L/Km)
fuel_cons_GS_car=0.045
# Density of gasoline (kg/L)
density_GS=0.72926
# Lower heating value of diesel (MJ/kg)
LHV_GS=42.582
# Efficiency of gasoline cars (Mkm-passenger/GWh)
Eff_GS_car = ((fuel_cons_GS_car/occ_GS_car)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline cars in Bolivia (Mkm-passenger)
GS_car_EUD = num_car * share_GS_car * veh_cap_GS_car
# Fuel demand for gasoline cars in Bolivia (GWh)
GS_car_FEC = GS_car_EUD * Eff_GS_car
# Energy intesity per capita related to gasoline cars in Bolivia (Mkm-passenger/person)
GS_car_EI = GS_car_EUD/total_population
# Number of electric cars in Bolivia
num_EL_car=2300
# Average annual distance traveled of electric cars in Bolivia (km)
avg_dist_EL_car=128.94*365
# Occupancy of electric cars in Bolivia (passengers/vehicle)
occ_EL_car=1.26
# Vehicle capacity of electric cars in Bolivia (Mkm-passenger/vehicle)
veh_cap_EL_car=(avg_dist_EL_car*occ_EL_car)/1000000
# Efficiency of electric cars (Mkm-passenger/GWh)
Eff_EL_car = 0.160997732
# End-use demand related to electric cars in Bolivia (Mkm-passenger)
EL_car_EUD = num_EL_car * veh_cap_EL_car
# Electricity demand for electric cars in Bolivia (GWh)
EL_car_FEC = EL_car_EUD * Eff_EL_car
# Energy intesity per capita related to electric cars in Bolivia (Mkm-passenger/person)
EL_car_EI = EL_car_EUD/total_population
# Number of buses in Bolivia
num_bus=159194
# Average annual distance traveled of fossil gas buses in Bolivia (km)
avg_dist_FG_bus=174.14*365
# Occupancy of fossil gas buses in Bolivia (passengers/vehicle)
occ_FG_bus=30
# Vehicle capacity of fossil gas buses in Bolivia (Mkm-passenger/vehicle)
veh_cap_FG_bus=(avg_dist_FG_bus*occ_FG_bus)/1000000
# Share of fossil gas buses related to total buses in Bolivia
share_FG_bus=0.081228804
# Fuel consumption related to fossil gas buses (L/Km)
fuel_cons_FG_bus=0.89
# Efficiency of fossil gas buses (Mkm-passenger/GWh)
Eff_FG_bus = ((fuel_cons_FG_bus/occ_FG_bus)*1000000*density_FG*LHV_FG)/3600000
# End-use demand related to fossil gas buses in Bolivia (Mkm-passenger)
FG_bus_EUD = num_bus * share_FG_bus * veh_cap_FG_bus
# Fuel demand for fossil gas buses in Bolivia (GWh)
FG_bus_FEC = FG_bus_EUD * Eff_FG_bus
# Energy intesity per capita related to fossil gas buses in Bolivia (Mkm-passenger/person)
FG_bus_EI = FG_bus_EUD/total_population
# Average annual distance traveled of diesel buses in Bolivia (km)
avg_dist_DS_bus=174.14*365
# Occupancy of diesel buses in Bolivia (passengers/vehicle)
occ_DS_bus=30
# Vehicle capacity of diesel buses in Bolivia (Mkm-passenger/vehicle)
veh_cap_DS_bus=(avg_dist_DS_bus*occ_DS_bus)/1000000
# Share of diesel buses related to total buses in Bolivia
share_DS_bus=0.226923336
# Fuel consumption related to diesel buses (L/Km)
fuel_cons_DS_bus=0.353
# Efficiency of diesel buses (Mkm-passenger/GWh)
Eff_DS_bus = ((fuel_cons_DS_bus/occ_DS_bus)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel buses in Bolivia (Mkm-passenger)
DS_bus_EUD = num_bus * share_DS_bus * veh_cap_DS_bus
# Fuel demand for diesel buses in Bolivia (GWh)
DS_bus_FEC = DS_bus_EUD * Eff_DS_bus
# Energy intesity per capita related to diesel buses in Bolivia (Mkm-passenger/person)
DS_bus_EI = DS_bus_EUD/total_population
# Average annual distance traveled of gasoline buses in Bolivia (km)
avg_dist_GS_bus=174.14*365
# Occupancy of gasoline buses in Bolivia (passengers/vehicle)
occ_GS_bus=30
# Vehicle capacity of gasoline buses in Bolivia (Mkm-passenger/vehicle)
veh_cap_GS_bus=(avg_dist_GS_bus*occ_GS_bus)/1000000
# Share of gasoline buses related to total buses in Bolivia
share_GS_bus=0.716442138
# Fuel consumption related to gasoline buses (L/Km)
fuel_cons_GS_bus=0.125
# Efficiency of gasoline buses (Mkm-passenger/GWh)
Eff_GS_bus = ((fuel_cons_GS_bus/occ_GS_bus)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline buses in Bolivia (Mkm-passenger)
GS_bus_EUD = num_bus * share_GS_bus * veh_cap_GS_bus
# Fuel demand for gasoline buses in Bolivia (GWh)
GS_bus_FEC = GS_bus_EUD * Eff_GS_bus
# Energy intesity per capita related to diesel buses in Bolivia (Mkm-passenger/person)
GS_bus_EI = GS_bus_EUD/total_population
# Number of pickup trucks in Bolivia
num_pickup_truck=210188
# Average annual distance traveled of fossil gas pickup trucks in Bolivia (km)
avg_dist_FG_pickup_truck=16.12*365
# Occupancy of fossil gas pickup trucks in Bolivia (passengers/vehicle)
occ_FG_pickup_truck=1.26
# Vehicle capacity of fossil gas pickup trucks in Bolivia (Mkm-passenger/vehicle)
veh_cap_FG_pickup_truck=(avg_dist_FG_pickup_truck*occ_FG_pickup_truck)/1000000
# Share of fossil gas pickup trucks related to total pickup trucks in Bolivia
share_FG_pickup_truck=0.081228804
# Fuel consumption related to fossil gas pickup trucks (L/Km)
fuel_cons_FG_pickup_truck=0.5
# Efficiency of fossil gas pickup trucks (Mkm-passenger/GWh)
Eff_FG_pickup_truck = ((fuel_cons_FG_pickup_truck/occ_FG_pickup_truck)*1000000*density_FG*LHV_FG)/3600000
# End-use demand related to fossil gas pickup trucks in Bolivia (Mkm-passenger)
FG_pickup_truck_EUD = num_pickup_truck * share_FG_pickup_truck * veh_cap_FG_pickup_truck
# Fuel demand for fossil gas pickup trucks in Bolivia (GWh)
FG_pickup_truck_FEC = FG_pickup_truck_EUD * Eff_FG_pickup_truck
# Energy intesity per capita related to fossil gas pickup trucks in Bolivia (Mkm-passenger/person)
FG_pickup_truck_EI = FG_pickup_truck_EUD/total_population
# Average annual distance traveled of diesel pickup trucks in Bolivia (km)
avg_dist_DS_pickup_truck=16.12*365
# Occupancy of diesel pickup trucks in Bolivia (passengers/vehicle)
occ_DS_pickup_truck=1.26
# Vehicle capacity of diesel pickup trucks in Bolivia (Mkm-passenger/vehicle)
veh_cap_DS_pickup_truck=(avg_dist_DS_pickup_truck*occ_DS_pickup_truck)/1000000
# Share of diesel pickup trucks related to total pickup trucks in Bolivia
share_DS_pickup_truck=0.226923336
# Fuel consumption related to diesel pickup trucks (L/Km)
fuel_cons_DS_pickup_truck=0.26
# Efficiency of diesel pickup trucks (Mkm-passenger/GWh)
Eff_DS_pickup_truck = ((fuel_cons_DS_pickup_truck/occ_DS_pickup_truck)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel pickup trucks in Bolivia (Mkm-passenger)
DS_pickup_truck_EUD = num_pickup_truck * share_DS_pickup_truck * veh_cap_DS_pickup_truck
# Fuel demand for diesel pickup trucks in Bolivia (GWh)
DS_pickup_truck_FEC = DS_pickup_truck_EUD * Eff_DS_pickup_truck
# Energy intesity per capita related to diesel pickup trucks in Bolivia (Mkm-passenger/person)
DS_pickup_truck_EI = DS_pickup_truck_EUD/total_population
# Average annual distance traveled of gasoline pickup trucks in Bolivia (km)
avg_dist_GS_pickup_truck=16.12*365
# Occupancy of gasoline pickup trucks in Bolivia (passengers/vehicle)
occ_GS_pickup_truck=1.26
# Vehicle capacity of gasoline pickup trucks in Bolivia (Mkm-passenger/vehicle)
veh_cap_GS_pickup_truck=(avg_dist_GS_pickup_truck*occ_GS_pickup_truck)/1000000
# Share of gasoline pickup trucks related to total pickup trucks in Bolivia
share_GS_pickup_truck=0.716442138
# Fuel consumption related to gasoline pickup trucks (L/Km)
fuel_cons_GS_pickup_truck=0.099
# Efficiency of gasoline pickup trucks (Mkm-passenger/GWh)
Eff_GS_pickup_truck = ((fuel_cons_GS_pickup_truck/occ_GS_pickup_truck)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline pickup trucks in Bolivia (Mkm-passenger)
GS_pickup_truck_EUD = num_pickup_truck * share_GS_pickup_truck * veh_cap_GS_pickup_truck
# Fuel demand for gasoline pickup trucks in Bolivia (GWh)
GS_pickup_truck_FEC = GS_pickup_truck_EUD * Eff_GS_pickup_truck
# Energy intesity per capita related to diesel pickup trucks in Bolivia (Mkm-passenger/person)
GS_pickup_truck_EI = GS_pickup_truck_EUD/total_population
# Number of sport utility vehicles in Bolivia
num_SUV=647523
# Average annual distance traveled of fossil gas sport utility vehicles in Bolivia (km)
avg_dist_FG_SUV=18.5*365
# Occupancy of fossil gas sport utility vehicles in Bolivia (passengers/vehicle)
occ_FG_SUV=1.26
# Vehicle capacity of fossil gas sport utility vehicles in Bolivia (Mkm-passenger/vehicle)
veh_cap_FG_SUV=(avg_dist_FG_SUV*occ_FG_SUV)/1000000
# Share of fossil gas sport utility vehicles related to total sport utility vehicles in Bolivia
share_FG_SUV=0.081228804
# Fuel consumption related to fossil gas sport utility vehicles (L/Km)
fuel_cons_FG_SUV=0.207
# Efficiency of fossil gas sport utility vehicles (Mkm-passenger/GWh)
Eff_FG_SUV = ((fuel_cons_FG_SUV/occ_FG_SUV)*1000000*density_FG*LHV_FG)/3600000
# End-use demand related to fossil gas sport utility vehicles in Bolivia (Mkm-passenger)
FG_SUV_EUD = num_SUV * share_FG_SUV * veh_cap_FG_SUV
# Fuel demand for fossil gas sport utility vehicles in Bolivia (GWh)
FG_SUV_FEC = FG_SUV_EUD * Eff_FG_SUV
# Energy intesity per capita related to fossil gas sport utility vehicles in Bolivia (Mkm-passenger/person)
FG_SUV_EI = FG_SUV_EUD/total_population
# Average annual distance traveled of diesel sport utility vehicles in Bolivia (km)
avg_dist_DS_SUV=18.5*365
# Occupancy of diesel sport utility vehicles in Bolivia (passengers/vehicle)
occ_DS_SUV=1.26
# Vehicle capacity of diesel sport utility vehicles in Bolivia (Mkm-passenger/vehicle)
veh_cap_DS_SUV=(avg_dist_DS_SUV*occ_DS_SUV)/1000000
# Share of diesel sport utility vehicles related to total sport utility vehicles in Bolivia
share_DS_SUV=0.226923336
# Fuel consumption related to diesel sport utility vehicles (L/Km)
fuel_cons_DS_SUV=0.238
# Efficiency of diesel sport utility vehicles (Mkm-passenger/GWh)
Eff_DS_SUV = ((fuel_cons_DS_SUV/occ_DS_SUV)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel sport utility vehicles in Bolivia (Mkm-passenger)
DS_SUV_EUD = num_SUV * share_DS_SUV * veh_cap_DS_SUV
# Fuel demand for diesel sport utility vehicles in Bolivia (GWh)
DS_SUV_FEC = DS_SUV_EUD * Eff_DS_SUV
# Energy intesity per capita related to diesel sport utility vehicles in Bolivia (Mkm-passenger/person)
DS_SUV_EI = DS_SUV_EUD/total_population
# Average annual distance traveled of gasoline sport utility vehicles in Bolivia (km)
avg_dist_GS_SUV=18.5*365
# Occupancy of gasoline sport utility vehicles in Bolivia (passengers/vehicle)
occ_GS_SUV=1.26
# Vehicle capacity of gasoline sport utility vehicles in Bolivia (Mkm-passenger/vehicle)
veh_cap_GS_SUV=(avg_dist_GS_SUV*occ_GS_SUV)/1000000
# Share of gasoline sport utility vehicles related to total sport utility vehicles in Bolivia
share_GS_SUV=0.716442138
# Fuel consumption related to gasoline sport utility vehicles (L/Km)
fuel_cons_GS_SUV=0.074
# Efficiency of gasoline sport utility vehicles (Mkm-passenger/GWh)
Eff_GS_SUV = ((fuel_cons_GS_SUV/occ_GS_SUV)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline sport utility vehicles in Bolivia (Mkm-passenger)
GS_SUV_EUD = num_SUV * share_GS_SUV * veh_cap_GS_SUV
# Fuel demand for gasoline sport utility vehicles in Bolivia (GWh)
GS_SUV_FEC = GS_SUV_EUD * Eff_GS_SUV
# Energy intesity per capita related to gasoline sport utility vehicles in Bolivia (Mkm-passenger/person)
GS_SUV_EI = GS_SUV_EUD/total_population
# Number of motorcycles in Bolivia
num_moto=663520
# Average annual distance traveled of fossil gas motorcycles in Bolivia (km)
avg_dist_FG_moto=19.1*365
# Occupancy of fossil gas motorcycles in Bolivia (passengers/vehicle)
occ_FG_moto=1
# Vehicle capacity of fossil gas motorcycles in Bolivia (Mkm-passenger/vehicle)
veh_cap_FG_moto=(avg_dist_FG_moto*occ_FG_moto)/1000000
# Share of fossil gas motorcycles related to total motorcycles in Bolivia
share_FG_moto=0.081228804
# Fuel consumption related to fossil gas motorcycles (L/Km)
fuel_cons_FG_moto=0.035
# Efficiency of fossil gas motorcycles (Mkm-passenger/GWh)
Eff_FG_moto = ((fuel_cons_FG_moto/occ_FG_moto)*1000000*density_FG*LHV_FG)/3600000
# End-use demand related to fossil gas motorcycles in Bolivia (Mkm-passenger)
FG_moto_EUD = num_moto * share_FG_moto * veh_cap_FG_moto
# Fuel demand for fossil gas motorcycles in Bolivia (GWh)
FG_moto_FEC = FG_moto_EUD * Eff_FG_moto
# Energy intesity per capita related to fossil gas motorcycles in Bolivia (Mkm-passenger/person)
FG_moto_EI = FG_moto_EUD/total_population
# Average annual distance traveled of diesel motorcycles in Bolivia (km)
avg_dist_DS_moto=19.1*365
# Occupancy of diesel motorcycles in Bolivia (passengers/vehicle)
occ_DS_moto=1
# Vehicle capacity of diesel motorcycles in Bolivia (Mkm-passenger/vehicle)
veh_cap_DS_moto=(avg_dist_DS_moto*occ_DS_moto)/1000000
# Share of diesel motorcycles related to total motorcycles in Bolivia
share_DS_moto=0.226923336
# Fuel consumption related to diesel motorcycles (L/Km)
fuel_cons_DS_moto=0.069
# Efficiency of diesel motorcycles (Mkm-passenger/GWh)
Eff_DS_moto = ((fuel_cons_DS_moto/occ_DS_moto)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel motorcycles in Bolivia (Mkm-passenger)
DS_moto_EUD = num_moto * share_DS_moto * veh_cap_DS_moto
# Fuel demand for diesel motorcycles in Bolivia (GWh)
DS_moto_FEC = DS_moto_EUD * Eff_DS_moto
# Energy intesity per capita related to diesel motorcycles in Bolivia (Mkm-passenger/person)
DS_moto_EI = DS_moto_EUD/total_population
# Average annual distance traveled of gasoline motorcycles in Bolivia (km)
avg_dist_GS_moto=19.1*365
# Occupancy of gasoline motorcycles in Bolivia (passengers/vehicle)
occ_GS_moto=1
# Vehicle capacity of gasoline motorcycles in Bolivia (Mkm-passenger/vehicle)
veh_cap_GS_moto=(avg_dist_GS_moto*occ_GS_moto)/1000000
# Share of gasoline motorcycles related to total motorcycles in Bolivia
share_GS_moto=0.716442138
# Fuel consumption related to gasoline motorcycles (L/Km)
fuel_cons_GS_moto=0.045
# Efficiency of gasoline motorcycles (Mkm-passenger/GWh)
Eff_GS_moto = ((fuel_cons_GS_moto/occ_GS_moto)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline motorcycles in Bolivia (Mkm-passenger)
GS_moto_EUD = num_moto * share_GS_moto * veh_cap_GS_moto
# Fuel demand for gasoline motorcycles in Bolivia (GWh)
GS_moto_FEC = GS_moto_EUD * Eff_GS_moto
# Energy intensity per capita related to gasoline motorcycles in Bolivia (Mkm-passenger/person)
GS_moto_EI = GS_moto_EUD/total_population
# New rows to be added to the results dataframe
new_rows = [
    ['Transport', 'Passengers', 'Passengers', 'Road','FG Car', '', FG_car_FEC,'', '', '', '', '', '', Eff_FG_car, FG_car_EI, 'Mkm-passenger/person', FG_car_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers','Road','DS Car', '', '','', '', '', DS_car_FEC, '', '', Eff_DS_car, DS_car_EI, 'Mkm-passenger/person', DS_car_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','GS Car', '', '','', '', '', '', GS_car_FEC, '', Eff_GS_car, GS_car_EI, 'Mkm-passenger/person', GS_car_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','EL Car', EL_car_FEC, '','', '', '', '', '', '', Eff_EL_car, EL_car_EI, 'Mkm-passenger/person', EL_car_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','FG Bus', '', FG_bus_FEC,'', '', '', '', '', '', Eff_FG_bus, FG_bus_EI, 'Mkm-passenger/person', FG_bus_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','DS Bus', '', '','', '', '', DS_bus_FEC, '', '', Eff_DS_bus, DS_bus_EI, 'Mkm-passenger/person', DS_bus_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','GS Bus', '', '','', '', '', '', GS_bus_FEC, '', Eff_GS_bus, GS_bus_EI, 'Mkm-passenger/person', GS_bus_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','FG Pickup truck', '', FG_pickup_truck_FEC,'', '', '', '', '', '', Eff_FG_pickup_truck, FG_pickup_truck_EI, 'Mkm-passenger/person', FG_pickup_truck_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','DS Pickup truck', '', '','', '', '', DS_pickup_truck_FEC, '', '', Eff_DS_pickup_truck, DS_pickup_truck_EI, 'Mkm-passenger/person', DS_pickup_truck_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','GS Pickup truck',  '', '','', '', '', '', GS_pickup_truck_FEC, '', Eff_GS_pickup_truck, GS_pickup_truck_EI, 'Mkm-passenger/person', GS_pickup_truck_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','FG SUV', '', FG_SUV_FEC,'', '', '', '', '', '', Eff_FG_SUV, FG_SUV_EI, 'Mkm-passenger/person', FG_SUV_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','DS SUV', '', '','', '', '', DS_SUV_FEC, '', '', Eff_DS_SUV, DS_SUV_EI, 'Mkm-passenger/person', DS_SUV_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','GS SUV', '', '','', '', '', '', GS_SUV_FEC, '', Eff_GS_SUV, GS_SUV_EI, 'Mkm-passenger/person', GS_SUV_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','FG Motorcycle', '', FG_moto_FEC,'', '', '', '', '', '', Eff_FG_moto, FG_moto_EI, 'Mkm-passenger/person', FG_moto_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','DS Motorcycle', '', '','', '', '', DS_moto_FEC, '', '', Eff_DS_moto, DS_moto_EI, 'Mkm-passenger/person', DS_moto_EUD, 'Mkm-passenger'],
    ['Transport', 'Passengers', 'Passengers', 'Road','GS Motorcycle', '', '','', '', '', '', GS_moto_FEC, '', Eff_GS_moto, GS_moto_EI, 'Mkm-passenger/person', GS_moto_EUD, 'Mkm-passenger']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>4.1.2. Rail</b></font> <a class="anchor" id="section_4_1_2"></a>

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of electric tramways: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a>

In [45]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("TRANSPORT")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("ELECTRICITY")].tolist()
# Electricity demand for electric tramways in Bolivia (GWh)
EL_tramway_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of electric tramways (Mkm-passenger/GWh)
Eff_EL_tramway = 0.070382379
# End-use demand related to electric tramways in Bolivia (Mkm-passenger)
EL_tramway_EUD = EL_tramway_FEC / Eff_EL_tramway
# Energy intesity per capita related to electric tramways in Bolivia (Mkm-passenger/person)
EL_tramway_EI = EL_tramway_EUD/total_population
# New rows to be added to the results dataframe
new_rows = [
    ['Transport', 'Passengers', 'Passengers', 'Rail','EL Tramway', EL_tramway_FEC, '','', '', '', '', '', '', Eff_EL_tramway, EL_tramway_EI, 'Mkm-passenger/person', EL_tramway_EUD, 'Mkm-passenger']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>4.2. Freight mobility</b></font> <a class="anchor" id="section_4_2"></a>

---

<font size="3"><b>4.2.1. Road</b></font> <a class="anchor" id="section_4_2_1"></a>

<div align="justify"> <font size="3">
<b>References:</b></font>

* Number of freight mobility by technology: <a href='https://nube.ine.gob.bo/index.php/s/NIlpzUKYIiieeAd/download'> Instituto Nacional de Estadistica (INE). Estadistícas del parque automotor: Parque Automotor por tipo de servicio y clase de vehículo, 2003 - 2022; 2023.</a>
* Average annual distance traveled of freight mobility by technology: <a href='https://revistas.univalle.edu/index.php/ciencias/article/download/450/893'> Marañón Rodriguez, S. Análisis de escenarios potenciales de desarrollo para el parque automotor de Bolivia y sus emisiones de gases efecto invernadero en el software LEAP para el periodo 2020-2030; 2022.</a>
* Tonnage per technology of freight mobility: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a>
* Share of freight mobility per technology: <a href='https://nube.ine.gob.bo/index.php/s/9EKiMktBVFck4TJ/download'> Instituto Nacional de Estadistica (INE). Proyecciones de población: Población estimada y proyectada por departamento, según años calendario, 2012-2025; 2020.</a>
* Fuel consumption per technology of freight mobility: <a href='https://revistas.univalle.edu/index.php/ciencias/article/download/450/893'> Marañón Rodriguez, S. Análisis de escenarios potenciales de desarrollo para el parque automotor de Bolivia y sus emisiones de gases efecto invernadero en el software LEAP para el periodo 2020-2030; 2022.</a></div>

In [46]:
# Number of trucks in Bolivia
num_truck=166585
# Average annual distance traveled of fossil gas trucks in Bolivia (km)
avg_dist_FG_truck=19.5*365
# Tonnage of fossil gas trucks in Bolivia (ton/vehicle)
tonn_FG_truck=10
# Vehicle capacity of fossil gas trucks in Bolivia (Mkm-ton/vehicle)
veh_cap_FG_truck=(avg_dist_FG_truck*tonn_FG_truck)/1000000
# Share of fossil gas trucks related to total trucks in Bolivia
share_FG_truck=0.081228804
# Fuel consumption related to fossil gas trucks (L/Km)
fuel_cons_FG_truck=0.89
# Efficiency of fossil gas trucks (GWh/Mkm-ton)
Eff_FG_truck = ((fuel_cons_FG_truck/tonn_FG_truck)*1000000*density_FG*LHV_FG)/3600000
# End-use demand related to fossil gas trucks in Bolivia (Mkm-ton)
FG_truck_EUD = num_truck * share_FG_truck * veh_cap_FG_truck
# Fuel demand for fossil gas trucks in Bolivia (GWh)
FG_truck_FEC = FG_truck_EUD * Eff_FG_truck
# Energy intesity per capita related to fossil gas trucks in Bolivia (Mkm-ton/person)
FG_truck_EI = FG_truck_EUD/total_population


# Average annual distance traveled of diesel trucks in Bolivia (km)
avg_dist_DS_truck=19.5*365
# Tonnage of diesel trucks in Bolivia (ton/vehicle)
tonn_DS_truck=10
# Vehicle capacity of diesel trucks in Bolivia (Mkm-ton/vehicle)
veh_cap_DS_truck=(avg_dist_DS_truck*tonn_DS_truck)/1000000
# Share of diesel trucks related to total trucks in Bolivia
share_DS_truck=0.226923336
# Fuel consumption related to diesel trucks (L/Km)
fuel_cons_DS_truck=0.69
# Efficiency of diesel trucks (GWh/Mkm-ton)
Eff_DS_truck = ((fuel_cons_DS_truck/tonn_DS_truck)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel trucks in Bolivia (Mkm-ton)
DS_truck_EUD = num_truck * share_DS_truck * veh_cap_DS_truck
# Fuel demand for diesel trucks in Bolivia (GWh)
DS_truck_FEC = DS_truck_EUD * Eff_DS_truck
# Energy intesity per capita related to diesel trucks in Bolivia (Mkm-ton/person)
DS_truck_EI = DS_truck_EUD/total_population


# Average annual distance traveled of gasoline trucks in Bolivia (km)
avg_dist_GS_truck=19.5*365
# Tonnage of gasoline trucks in Bolivia (ton/vehicle)
tonn_GS_truck=10
# Vehicle capacity of gasoline trucks in Bolivia (Mkm-ton/vehicle)
veh_cap_GS_truck=(avg_dist_GS_truck*tonn_GS_truck)/1000000
# Share of gasoline trucks related to total trucks in Bolivia
share_GS_truck=0.716442138
# Fuel consumption related to gasoline trucks (L/Km)
fuel_cons_GS_truck=0.242
# Efficiency of gasoline trucks (GWh/Mkm-ton)
Eff_GS_truck = ((fuel_cons_GS_truck/tonn_GS_truck)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline trucks in Bolivia (Mkm-ton)
GS_truck_EUD = num_truck * share_GS_truck * veh_cap_GS_truck
# Fuel demand for gasoline trucks in Bolivia (GWh)
GS_truck_FEC = GS_truck_EUD * Eff_GS_truck
# Energy intesity per capita related to gasoline trucks in Bolivia (Mkm-ton/person)
GS_truck_EI = GS_truck_EUD/total_population


# Number of vans in Bolivia
num_van=16056
# Average annual distance traveled of fossil gas vans in Bolivia (km)
avg_dist_FG_van=19.5*365
# Tonnage of fossil gas vans in Bolivia (ton/vehicle)
tonn_FG_van=0.8775
# Vehicle capacity of fossil gas vans in Bolivia (Mkm-ton/vehicle)
veh_cap_FG_van=(avg_dist_FG_van*tonn_FG_van)/1000000
# Share of fossil gas vans related to total vans in Bolivia
share_FG_van=0.081228804
# Fuel consumption related to fossil gas vans (L/Km)
fuel_cons_FG_van=0.6
# Efficiency of fossil gas vans (GWh/Mkm-ton)
Eff_FG_van = ((fuel_cons_FG_van/tonn_FG_van)*1000000*density_FG*LHV_FG)/3600000
# End-use demand related to fossil gas vans in Bolivia (Mkm-ton)
FG_van_EUD = num_van * share_FG_van * veh_cap_FG_van
# Fuel demand for fossil gas vans in Bolivia (GWh)
FG_van_FEC = FG_van_EUD * Eff_FG_van
# Energy intesity per capita related to fossil gas vans in Bolivia (Mkm-ton/person)
FG_van_EI = FG_van_EUD/total_population


# Average annual distance traveled of diesel gas vans in Bolivia (km)
avg_dist_DS_van=19.5*365
# Tonnage of diesel vans in Bolivia (ton/vehicle)
tonn_DS_van=0.8775
# Vehicle capacity of diesel vans in Bolivia (Mkm-ton/vehicle)
veh_cap_DS_van=(avg_dist_DS_van*tonn_DS_van)/1000000
# Share of diesel vans related to total vans in Bolivia
share_DS_van=0.226923336
# Fuel consumption related to diesel vans (L/Km)
fuel_cons_DS_van=0.303
# Efficiency of diesel vans (GWh/Mkm-ton)
Eff_DS_van = ((fuel_cons_DS_van/tonn_DS_van)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel vans in Bolivia (Mkm-ton)
DS_van_EUD = num_van * share_DS_van * veh_cap_DS_van
# Fuel demand for diesel vans in Bolivia (GWh)
DS_van_FEC = DS_van_EUD * Eff_DS_van
# Energy intesity per capita related to diesel vans in Bolivia (Mkm-ton/person)
DS_van_EI = DS_van_EUD/total_population


# Average annual distance traveled of gasoline gas vans in Bolivia (km)
avg_dist_GS_van=19.5*365
# Tonnage of gasoline vans in Bolivia (ton/vehicle)
tonn_GS_van=0.8775
# Vehicle capacity of gasoline vans in Bolivia (Mkm-ton/vehicle)
veh_cap_GS_van=(avg_dist_GS_van*tonn_GS_van)/1000000
# Share of gasoline vans related to total vans in Bolivia
share_GS_van=0.716442138
# Fuel consumption related to gasoline vans (L/Km)
fuel_cons_GS_van=0.23
# Efficiency of gasoline vans (GWh/Mkm-ton)
Eff_GS_van = ((fuel_cons_GS_van/tonn_GS_van)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline vans in Bolivia (Mkm-ton)
GS_van_EUD = num_van * share_GS_van * veh_cap_GS_van
# Fuel demand for gasoline vans in Bolivia (GWh)
GS_van_FEC = GS_van_EUD * Eff_GS_van
# Energy intesity per capita related to gasoline vans in Bolivia (Mkm-ton/person)
GS_van_EI = GS_van_EUD/total_population


# Number of cargo motorcycles in Bolivia
num_cargo_moto=38
# Average annual distance traveled of diesel cargo motorcycles in Bolivia (km)
avg_dist_DS_cargo_moto=10.32*365
# Tonnage of diesel cargo motorcycles in Bolivia (ton/vehicle)
tonn_DS_cargo_moto=0.5
# Vehicle capacity of diesel cargo motorcycles in Bolivia (Mkm-ton/vehicle)
veh_cap_DS_cargo_moto=(avg_dist_DS_cargo_moto*tonn_DS_cargo_moto)/1000000
# Share of diesel cargo motorcycles related to total cargo motorcycles in Bolivia
share_DS_cargo_moto=0.261115784
# Fuel consumption related to diesel cargo motorcycles (L/Km)
fuel_cons_DS_cargo_moto=0.348
# Efficiency of diesel cargo motorcycles (GWh/Mkm-ton)
Eff_DS_cargo_moto = ((fuel_cons_DS_cargo_moto/tonn_DS_cargo_moto)*1000000*density_DS*LHV_DS)/3600000
# End-use demand related to diesel cargo motorcycles in Bolivia (Mkm-ton)
DS_cargo_moto_EUD = num_cargo_moto * share_DS_cargo_moto * veh_cap_DS_cargo_moto
# Fuel demand for diesel cargo motorcycles in Bolivia (GWh)
DS_cargo_moto_FEC = DS_cargo_moto_EUD * Eff_DS_cargo_moto
# Energy intesity per capita related to diesel cargo motorcycles in Bolivia (Mkm-ton/person)
DS_cargo_moto_EI = DS_cargo_moto_EUD/total_population


# Average annual distance traveled of gasoline cargo motorcycles in Bolivia (km)
avg_dist_GS_cargo_moto=10.32*365
# Tonnage of gasoline cargo motorcycles in Bolivia (ton/vehicle)
tonn_GS_cargo_moto=0.5
# Vehicle capacity of gasoline cargo motorcycles in Bolivia (Mkm-ton/vehicle)
veh_cap_GS_cargo_moto=(avg_dist_GS_cargo_moto*tonn_GS_cargo_moto)/1000000
# Share of gasoline cargo motorcycles related to total cargo motorcycles in Bolivia
share_GS_cargo_moto=0.738884216
# Fuel consumption related to gasoline cargo motorcycles (L/Km)
fuel_cons_GS_cargo_moto=0.045
# Efficiency of gasoline cargo motorcycles (GWh/Mkm-ton)
Eff_GS_cargo_moto = ((fuel_cons_GS_cargo_moto/tonn_GS_cargo_moto)*1000000*density_GS*LHV_GS)/3600000
# End-use demand related to gasoline cargo motorcycles in Bolivia (Mkm-ton)
GS_cargo_moto_EUD = num_cargo_moto * share_GS_cargo_moto * veh_cap_GS_cargo_moto
# Fuel demand for gasoline cargo motorcycles in Bolivia (GWh)
GS_cargo_moto_FEC = GS_cargo_moto_EUD * Eff_GS_cargo_moto
# Energy intesity per capita related to gasoline cargo motorcycles in Bolivia (Mkm-ton/person)
GS_cargo_moto_EI = GS_cargo_moto_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Transport', 'Freight', 'Freight', 'Road','FG Truck', '', FG_truck_FEC,'', '', '', '', '', '', Eff_FG_truck, FG_truck_EI, 'Mkm-ton/person', FG_truck_EUD, 'Mkm-ton'],
    ['Transport', 'Freight', 'Freight', 'Road','DS Truck', '', '','', '', '', DS_truck_FEC, '', '', Eff_DS_truck, DS_truck_EI, 'Mkm-ton/person', DS_truck_EUD, 'Mkm-ton'],
    ['Transport', 'Freight', 'Freight', 'Road','GS Truck', '', '','', '', '', '', GS_truck_FEC, '', Eff_GS_truck, GS_truck_EI, 'Mkm-ton/person', GS_truck_EUD, 'Mkm-ton'],
    ['Transport', 'Freight', 'Freight', 'Road','FG Van', '', FG_van_FEC,'', '', '', '', '', '', Eff_FG_van, FG_van_EI, 'Mkm-ton/person', FG_van_EUD, 'Mkm-ton'],
    ['Transport', 'Freight', 'Freight', 'Road','DS Van', '', '','', '', '', DS_van_FEC, '', '', Eff_DS_van, DS_van_EI, 'Mkm-ton/person', DS_van_EUD, 'Mkm-ton'],
    ['Transport', 'Freight', 'Freight', 'Road','GS Van', '', '','', '', '', '', GS_van_FEC, '', Eff_GS_van, GS_van_EI, 'Mkm-ton/person', GS_van_EUD, 'Mkm-ton'],
    ['Transport', 'Freight', 'Freight', 'Road','DS Cargo motorcycle', '', '','', '', '', DS_cargo_moto_FEC, '', '', Eff_DS_cargo_moto, DS_cargo_moto_EI, 'Mkm-ton/person', DS_cargo_moto_EUD, 'Mkm-ton'],
    ['Transport', 'Freight', 'Freight', 'Road','GS Cargo motorcycle', '', '','', '', '', '', GS_cargo_moto_FEC, '', Eff_GS_cargo_moto, GS_cargo_moto_EI, 'Mkm-ton/person', GS_cargo_moto_EUD, 'Mkm-ton']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>4.2.2. Rail</b></font> <a class="anchor" id="section_4_2_2"></a>

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of trains: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>
* Share of trains related to total freight mobility: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>

In [47]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("TRANSPORT")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("DIESEL OIL WITHOUT BIODIESEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
DS_transport_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of diesel trains (GWh/Mkm-ton)
Eff_DS_train = 0.073194503
# Share of diesel trains related to total freight mobility in Bolivia
share_DS_train=0.00379295269389479*0.901052631578947
# Fuel demand for diesel trains in Bolivia (GWh)
DS_train_FEC = DS_transport_FEC * share_DS_train
# End-use demand related to diesel trains in Bolivia (Mkm-ton)
DS_train_EUD = DS_train_FEC / Eff_DS_train
# Energy intesity per capita related to diesel trains in Bolivia (Mkm-ton/person)
DS_train_EI = DS_train_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Transport', 'Freight', 'Freight', 'Rail','DS Train', '', '','', '', '', DS_train_FEC, '', '', Eff_DS_train, DS_train_EI, 'Mkm-ton/person', DS_train_EUD, 'Mkm-ton']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>4.2.3. Water</b></font> <a class="anchor" id="section_4_2_3"></a>

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of boats: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a>
* Share of boats related to total freight mobility: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>

In [48]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("TRANSPORT")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("DIESEL OIL WITHOUT BIODIESEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
DS_transport_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of diesel boats (GWh/Mkm-ton)
Eff_DS_boat = 0.11740785
# Share of diesel boats related to total freight mobility in Bolivia
share_DS_boat=0.00379295269389479*0.0989473684210526
# Fuel demand for diesel boats in Bolivia (GWh)
DS_boat_FEC = DS_transport_FEC * share_DS_boat
# End-use demand related to diesel boats in Bolivia (Mkm-ton)
DS_boat_EUD = DS_boat_FEC / Eff_DS_boat
# Energy intesity per capita related to diesel boats in Bolivia (Mkm-ton/person)
DS_boat_EI = DS_boat_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Transport', 'Freight', 'Freight', 'Water','DS Boat', '', '','', '', '', DS_boat_FEC, '', '', Eff_DS_boat, DS_boat_EI, 'Mkm-ton/person', DS_boat_EUD, 'Mkm-ton']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>4.2.4. Air</b></font> <a class="anchor" id="section_4_2_4"></a>

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of LFO aricraft: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Benito, A, Alonso, G. Energy efficiency in air transportation. Butterworth-Heinemann. 2018.</a>
* Share of LFO related to total freight mobility: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>

In [49]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("TRANSPORT")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("KEROSENE/JET FUEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
LFO_transport_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of LFO aircrafts (GWh/Mkm-ton)
Eff_LFO_aircraft = 0.48
# Fuel demand for LFO aircrafts in Bolivia (GWh)
LFO_aircraft_FEC = LFO_transport_FEC
# End-use demand related to LFO aircrafts in Bolivia (Mkm-ton)
LFO_aircraft_EUD = LFO_aircraft_FEC / Eff_LFO_aircraft
# Energy intesity per capita related to  LFO aircrafts in Bolivia (Mkm-ton/person)
LFO_aircraft_EI = LFO_aircraft_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Transport', 'Freight', 'Freight', 'Air','LFO aircraft', '', '','', '', '', '', '', LFO_aircraft_FEC, Eff_LFO_aircraft, LFO_aircraft_EI, 'Mkm-ton/person', LFO_aircraft_EUD, 'Mkm-ton']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>4.3. Graphs</b></font> <a class="anchor" id="section_4_3"></a>

---

<font size="3"><b>4.3.1. Bar chart - Final energy consumption by technology</b></font> <a class="anchor" id="section_4_3_1"></a>

In [50]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [51]:
# Filter rows where 'Sector' column contains 'Transport'
filtered_df = copied_df[copied_df['Sector'].str.contains('Transport')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=700,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Technology',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>4.3.2. Pie chart - Final energy consumption by subsector</b></font> <a class="anchor" id="section_4_3_2"></a>

In [52]:
# Filter rows where 'Sector' column contains 'Transport'
filtered_df = copied_df[copied_df['Sector'].str.contains('Transport')]

# Group by 'Subsector' and sum the values for each header
grouped_df = filtered_df.groupby('Subsector')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Subsector' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Subsector', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Subsector
fig = make_subplots(rows=1, cols=2, subplot_titles=grouped_df['Subsector'].unique(), specs=[[{'type': 'pie'}]*2]*1)

row, col = 1, 1
for subsector in grouped_df['Subsector'].unique():  # Fixed the variable name to 'subsector'
    values = grouped_df[grouped_df['Subsector'] == subsector][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=subsector,  # Fixed the variable name to 'subsector'
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique subsectors than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=550,
    width=1375,
    annotations=[dict(text=subsector, font=dict(size=16.5), showarrow=False) for i, (subsector, col, row) in enumerate(zip(grouped_df['Subsector'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>5. Public lighting</b></font> <a class="anchor" id="section_5"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Electricity demand related to public lighting: <a href='https://united4efficiency.org/wp-content/uploads/2022/03/5299-Bolivia-MEPS-y-Etiquetado_40321.pdf'> United Nations Environment Programme (UNEP),  Lafitte, B. Proyecto Nacional de Iluminación Eficiente en Bolivia:“Delivering the transition to Energy Efficiency Lighting”; 2022.</a>
* Efficiency of conventional and LED lighting: <a href='https://united4efficiency.org/wp-content/uploads/2022/03/5299-Bolivia-MEPS-y-Etiquetado_40321.pdf'> United Nations Environment Programme (UNEP),  Lafitte, B. Proyecto Nacional de Iluminación Eficiente en Bolivia:“Delivering the transition to Energy Efficiency Lighting”; 2022.</a></div>


---

<font size="4"><b>5.1. Lighting</b></font> <a class="anchor" id="section_5_1"></a>

---

In [53]:
# Electricity demand related to conventional public lighting in Bolivia (GWh)
EL_light_public_FEC = 528.125
# Efficiency of conventional public lighting
Eff_EL_conventional_light_public = 0.1025
# Electricity demand related to conventional public lighting in Bolivia (GWh)
EL_conventional_light_public_FEC = EL_light_public_FEC
# End-use demand related to conventional public lighting in Bolvia (GWh)
EL_conventional_light_public_EUD = EL_conventional_light_public_FEC*Eff_EL_conventional_light_public
# Energy intesity per household related to conventional public lighting for Bolivia (GWh)
EL_conventional_light_public_EI = EL_conventional_light_public_EUD/num_households


# New rows to be added to the results dataframe
new_rows = [
     ['Public Lighting', 'Public Lighting', 'Public Lighting','Lighting', 'Conventional_light', EL_conventional_light_public_FEC, '','', '', '', '', '', '', Eff_EL_conventional_light_public, EL_conventional_light_public_EI, 'GWh/person', EL_conventional_light_public_EUD, 'GWh public lighting']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>5.2. Graphs</b></font> <a class="anchor" id="section_5_2"></a>

---

<font size="3"><b>5.2.1. Bar chart - Final energy consumption by technology</b></font> <a class="anchor" id="section_5_2_1"></a>

In [54]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:24: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [55]:
# Filter rows where 'Sector' column contains 'Public Lighting'
filtered_df = copied_df[copied_df['Sector'].str.contains('Public Lighting')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=625,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Technology',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>5.2.2. Pie chart - Final energy consumption by technology</b></font> <a class="anchor" id="section_5_2_2"></a>

In [56]:
# Filter rows where 'Sector' column contains 'Public Lighting'
filtered_df = copied_df[copied_df['Sector'].str.contains('Public Lighting')]

# Group by 'Class' and sum the values for each header
grouped_df = filtered_df.groupby('Class')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Class' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Class', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Class
fig = make_subplots(rows=1, cols=1, subplot_titles=grouped_df['Class'].unique(), specs=[[{'type': 'pie'}]*1]*1)

row, col = 1, 1
for classes in grouped_df['Class'].unique():  # Fixed the variable name to 'Class'
    values = grouped_df[grouped_df['Class'] == classes][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=classes,  # Fixed the variable name to 'classes'
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique classes than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=550,
    width=1375,
    annotations=[dict(text=classes, font=dict(size=16.5), showarrow=False) for i, (classes, col, row) in enumerate(zip(grouped_df['Class'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>6. Commercial sector</b></font> <a class="anchor" id="section_6"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Input data for the Bolivian final energy consumption by fuel: <a href='https://sielac.olade.org/WebForms/Reportes/ReporteBalanceEnergetico.aspx?or=600&ss=2&v=1'> Ministerio de Hidrocarburos y Energías (MHE). Balance Energetico Nacional 2006 - 2021; 2022.</a>
* Input data for the end use structure is based on the energy consumption structure of Peru: <a href='https://www.minem.gob.pe/minem/archivos/file/DGEE/BNE_UTIL_2013/PERU_BEU_D5%20VOL%20I%20v3.2%20Publicaci%C3%B3n.pdf'> Ministerio de Energía y Minas de Perú, Ministerio de Economía y Finanzas, Inter American Development Bank (IDB). Balance Nacional de Energía Útil; 2016.</a></div>

<font size="3"><b>Final energy demand characterization</b></font>
<div align="justify">In this section the data treatment to filter information in the energy balance for the comercial sector is done based on the BEN 2021.</div>

In [57]:
# Find the row with a specific name
result_df = df[df.index.str.contains("COMMERCIAL")]

# Drop empty columns from dataframe
result_df = result_df.replace('', pd.NA)
result_df = result_df.dropna(axis=1)

# Drop columns that consider "TOTAL" values
result_df = result_df.loc[:, ~result_df.columns.str.contains('total', case=False)]

# Display the DataFrame
result_df

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1282737444.py:5: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

,NATURAL GAS,ELECTRICITY,LPG,DIESEL OIL WITHOUT BIODIESEL
,,,,
"COMMERCIAL, SERVICES, PUBLIC",607.639028,2047.067349,25.379377,155.403234

In [58]:
# Formating columns and index
result_df.index = ['Commerce'] * len(result_df)
result_df.rename(columns = {'NATURAL GAS':'FG', 'ELECTRICITY':'EL', 'LPG':'LPG', 'DIESEL OIL WITHOUT BIODIESEL':'DS'} , inplace=True)

##### FINAL ENERGY CONSUMPTION BY FUEL FOR THE COMMERCIAL SECTOR ####
##### This value is calculated for the year 2021 based on estatistical data for Bolivia.
##### A similar approach can be followed to obtain the same information for different years if the same data source is used and the data tables have the same format (BEN 2022, from the CNDC, Bolivia)

# Display the DataFrame
result_df

                  FG           EL        LPG          DS
Commerce  607.639028  2047.067349  25.379377  155.403234

<font size="3"><b>Final energy technology characterization</b></font>
<div align="justify">In this section the data treatment to filter proportions of energy usage from Peru* is done to represent Bolivia as a proxy</div>

In [59]:
# Option2: Import the Google Drive Excel file
google_drive_url2 = 'https://docs.google.com/spreadsheets/d/1HvZ6PBKkdaFy-yR9gaXc1wu4jfgGn_Ce/edit?usp=drive_link&ouid=115521570694102221364&rtpof=true&sd=true'
# Find the index of '/edit'
edit_index2 = google_drive_url2.find('/edit')
# Remove all text after '/edit' (including '/edit')
google_drive_url2 = google_drive_url2[:edit_index]
# Append '/export' to the cleaned URL
google_drive_url2 = google_drive_url2 + '/export'
# Read the Excel file into a Pandas DataFrame
df2 = pd.read_excel(google_drive_url2, header=0, engine='openpyxl')

In [60]:
# Renaming technology column to Final-demand
df2.rename(columns={'Unnamed: 0': 'Final-demand'}, inplace=True)

# Grouping up end use categories that can be grouped up
group_list = {'Conservacion de alimentos', 'Aire acondicionado', 'Ventilacion', 'Bombeo de agua', 'Artefactos electricos'}
column_to_check = 'Final-demand'

selected_rows = pd.DataFrame(columns=df2.columns)

for tech in df2[column_to_check].unique():
    if tech in group_list:
        # Filter rows based on 'Final-demand' value
        tech_rows = df2[df2[column_to_check] == tech]

        # Sum the filtered rows
        aggregated_row = tech_rows

        # Append the aggregated row to the result DataFrame
        selected_rows = pd.concat([selected_rows, aggregated_row], ignore_index=True)

new_row = selected_rows.sum(numeric_only=True)
new_row['Final-demand'] = 'Electrical_appliances'

df2 = pd.concat([df2, new_row.to_frame().T], ignore_index=True)

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1774744974.py:19: FutureWarning:

The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

In [61]:
# Remove aggregated rows
exclude_list = {'Conservacion de alimentos', 'Aire acondicionado', 'Ventilacion','Bombeo de agua','Artefactos electricos', 'Total'}
column_to_check = 'Final-demand'

result_df2 = df2

for tech in result_df2[column_to_check].unique():
  if tech in exclude_list:
    # Identify the rows to drop based on the condition
    result_df2 = result_df2.drop(result_df2[result_df2[column_to_check] == tech].index)

# Renaming technologies
result_df2.reset_index(drop=True)
result_df2['Final-demand'].replace({'Iluminacion':'Lighting', 'Cocina':'Cooking', 'Calentamiento de agua':'Heat_water', 'Fuerza motriz':'Machinery'} , inplace=True)

# Estimate proportions of consumption for the country for each fuel
total_consumption = result_df2.sum()
fuel_list = {'EL', 'LPG','FG', 'DS'}
for fuel in fuel_list:
  result_df2[fuel] = result_df2[fuel]/total_consumption[fuel]

##### This table represent the proportions used for alternative final energy consumption/demand for the commercial sector
##### The structure from Peru is used as Bolivia does not have a end-use energy balance and it is a country with large similarities in the social and cultural context
##### This proportions could be further developed depending on the detail of information available but currently represent a first approximation of how energy demands should be distributed by technology and fuel used

# Display the DataFrame
styled_df = result_df2.style.hide()
styled_df

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\745815462.py:14: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

<font size="3"><b>End-use demand characterization</b></font>
<div align="justify">This section focus on estimating the Final energy consumption by technology for the commercial sector based on the Bolivian energy consumption by fuel and the Final-demand structure of Peru as a neighbour country.</div>

In [62]:
# Define the columns to be multiplied by type of fuel used
fuel_list = {'EL', 'LPG','FG', 'DS'}
# Creates the matrix structure (dataframe) for the result
df3 = result_df2
#creates a series of objects to multply the matrix
total_energy_bolivia = result_df.iloc[0]
# Assuming df3 is your DataFrame and total_energy_bolivia is a dictionary containing total energy values by fuel
for fuel in fuel_list:
    # Subtract electricity demand only if the fuel is 'EL'
    if fuel == 'EL':
        df3[fuel] = df3[fuel] * (total_energy_bolivia[fuel] - EL_light_public_FEC)
    else:
        df3[fuel] = df3[fuel] * total_energy_bolivia[fuel]
# Replace NaN values with 0
df3.fillna(0, inplace=True)
#  Or Replace 0 values with NaN
#End_Use_df.replace(0, float('nan'), inplace=True)
styled_df = df3.style.hide()
styled_df

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\888756864.py:15: FutureWarning:

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`


---

<font size="4"><b>6.1. Lighting</b></font> <a class="anchor" id="section_6_1"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Share of LED lighting for commercial sector: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 79.</a>
* Efficiency of conventional and LED lighting: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 26.</a></div>

In [63]:
# Find the row with a specific name
selected_row = df3[df3.iloc[:, 0].str.contains("Lighting")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("EL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
EL_light_comm_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of LED lighting in the commercial sector
Eff_EL_LED_light_comm = 0.34
# Share of LED lighting in Bolivia
share_LED_light_comm = 0.0750775529863436
# Electricity demand related to LED lighting in the commercial sector in Bolivia (GWh)
EL_LED_light_comm_FEC = EL_light_comm_FEC * share_LED_light_comm
# End-use demand related to LED lighting in the commercial sector in Bolvia (GWh)
EL_LED_light_comm_EUD = EL_LED_light_comm_FEC*Eff_EL_LED_light_comm
# Energy intesity per capita related to LED lighting in the commercial sector in Bolivia (GWh/person)
EL_LED_light_comm_EI = EL_LED_light_comm_EUD/total_population
# Efficiency of conventional lighting
Eff_EL_conventional_light_comm = 0.1025
# Electricity demand related to conventional lighting in the commercial sector in Bolivia (GWh)
EL_conventional_light_comm_FEC = EL_light_comm_FEC - EL_LED_light_comm_FEC
# End-use demand related to conventional lighting in the commercial sector in Bolivia (GWh)
EL_conventional_light_comm_EUD = EL_conventional_light_comm_FEC*Eff_EL_conventional_light_comm
# Energy intesity per capita related to conventional lighting in the commercial sector in Bolivia (GWh/person)
EL_conventional_light_comm_EI = EL_conventional_light_comm_EUD/total_population

# New rows to be added to the results dataframe
new_rows = [
     ['Commercial', 'Commercial', 'Commercial','Lighting', 'LED_bulb', EL_LED_light_comm_FEC, '','', '', '', '', '', '', Eff_EL_LED_light_comm, EL_LED_light_comm_EI, 'GWh/person', EL_LED_light_comm_EUD, 'GWh lighting'],
     ['Commercial', 'Commercial', 'Commercial','Lighting', 'Conventional_bulb', EL_conventional_light_comm_FEC, '','', '', '', '', '', '', Eff_EL_conventional_light_comm, EL_conventional_light_comm_EI, 'GWh/person', EL_conventional_light_comm_EUD, 'GWh lighting']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>6.2. Cooking</b></font> <a class="anchor" id="section_6_2"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

*   Efficiency of LPG, LFO and firewood stoves: <a href='https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2003GB002157'> Habib, G, Venkataraman, C, Shrivastava, M, Banerjee, R, Stehr, J. W, Dickerson, R. R. New methodology for estimating biofuel consumption for cooking: Atmospheric emissions of black carbon and sulfur dioxide from India. Global Biogeochemical Cycles. 2004, 18(3).</a>
*   Efficiency of electric stoves: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0959652619305955#fig1'> Landi, D, Consolini, A, Germani, M, Favi, C. Comparative life cycle assessment of electric and gas ovens in the Italian context: An environmental and technical evaluation. Journal of Cleaner Production. 2019, 221, 189-201.</a></div>

In [64]:
# Find the row with a specific name
selected_row = df3[df3.iloc[:, 0].str.contains("Cooking")]

# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("FG")].tolist()
# Fossil gas consumption for cooking
FG_stove_comm_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of fossil gas stoves
Eff_FG_stove_comm = 1/2.105263158
# End-use demand related to fossil gas stoves
FG_stove_comm_EUD = FG_stove_comm_FEC*Eff_FG_stove_comm
# Energy intensity per capita related to fossil gas stoves in the commercial sector in Bolivia (GWh/person)
FG_stove_comm_EI = FG_stove_comm_EUD/total_population


# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("LPG")].tolist()
# LPG consumption for cooking
LPG_stove_comm_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of LPG stoves
Eff_LPG_stove_comm = 1/1.559257667
# End-use demand related to LPG stoves
LPG_stove_comm_EUD = LPG_stove_comm_FEC*Eff_LPG_stove_comm
# Energy intensity per capita related to LPG stoves in the commercial sector in Bolivia (GWh/person)
LPG_stove_comm_EI = LPG_stove_comm_EUD/total_population


# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("EL")].tolist()
# Electricity consumption for cooking
EL_stove_comm_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of electric stoves
Eff_EL_stove_comm = 1
# End-use demand related to electric stoves
EL_stove_comm_EUD = EL_stove_comm_FEC*Eff_EL_stove_comm
# Energy intensity per capita related to electric stoves in the commercial sector in Bolivia (GWh/person)
EL_stove_comm_EI = EL_stove_comm_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Commercial', 'Commercial', 'Commercial','Cooking', 'FG Stove', '', FG_stove_comm_FEC,'', '', '', '', '', '', Eff_FG_stove_comm, FG_stove_comm_EI, 'GWh/person', FG_stove_comm_EUD, 'GWh cooking'],
    ['Commercial', 'Commercial', 'Commercial','Cooking', 'LPG Stove', '', '', LPG_stove_comm_FEC, '', '', '', '', '', Eff_LPG_stove_comm, LPG_stove_comm_EI, 'GWh/person', LPG_stove_comm_EUD, 'GWh cooking'],
    ['Commercial', 'Commercial', 'Commercial','Cooking', 'EL Stove', EL_stove_comm_FEC, '','', '', '', '', '', '', Eff_EL_stove_comm, EL_stove_comm_EI, 'GWh/person', EL_stove_comm_EUD, 'GWh cooking']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>6.3. Water heating</b></font> <a class="anchor" id="section_6_3"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

*   Efficiency of water heating technologies: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a></div>

In [65]:
# Find the row with a specific name
selected_row = df3[df3.iloc[:, 0].str.contains("Heat_water")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("EL")].tolist()
# Efficiency of electric heaters
Eff_EL_direct_comm=1
# Electriciy demand for water heating (GWh)
EL_WH_comm_FEC = selected_row[selected_column].values[0, 0]
# End-use demand related to direct electrical heaters in the commercial sector in Bolivia (GWh)
EL_WH_comm_EUD = EL_WH_comm_FEC*Eff_EL_direct_comm
# Energy intensity per capita related to direct electrical heaters in the commercial sector in Bolivia (GWh/person)
EL_WH_comm_EI = EL_WH_comm_EUD/total_population


# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("FG")].tolist()
# Efficiency of fossil gas boiler
Eff_FG_WH_comm=1/1.121681905
# Fossil gas demand for water heating (GWh)
FG_WH_comm_FEC=selected_row[selected_column].values[0, 0]
# End-use demand related to fossil gas boiler in the commercial sector in Bolivia (GWh)
FG_WH_comm_EUD=FG_WH_comm_FEC*Eff_FG_WH_comm
# Energy intensity per capita related to fossil gas boiler in the commercial sector in Bolivia (GWh/person)
FG_WH_comm_EI = FG_WH_comm_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Commercial', 'Commercial', 'Commercial','Water heating', 'FG Boiler', '', FG_WH_comm_FEC,'', '', '', '', '', '', Eff_FG_WH_comm, FG_WH_comm_EI, 'GWh/person', FG_WH_comm_EUD, 'GWh low_temp'],
    ['Commercial', 'Commercial', 'Commercial','Water heating', 'EL Shower', EL_WH_comm_FEC, '','', '', '', '', '', '', Eff_EL_direct_comm, EL_WH_comm_EI, 'GWh/person', EL_WH_comm_EUD, 'GWh low_temp']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>6.4. Machinery</b></font> <a class="anchor" id="section_6_4"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of electric machinery: <a href='https://ieeexplore.ieee.org/abstract/document/8564685'> Rivera, R. I, Joyman, T. C, Rosaura, C. M, Quispe, E. C. Implementation of a procedure to determine induction motor efficiency according to IEC 60034-2-1 standard. In 2018 IEEE ANDESCON. 2018; p. 1-7.</a>
* Efficiency of diesel machinery: <a href='https://iopscience.iop.org/article/10.1088/1755-1315/1010/1/012140/meta'> Ivanov, I. A, Persiyanova, G. E. Improving the efficiency of diesel engines of agricultural machines. In IOP Conference Series: Earth and Environmental Science. IOP Publishing. 2022; Vol. 1010, No. 1, p. 012140.</a></div>

In [66]:
# Find the row with a specific name
selected_row = df3[df3.iloc[:, 0].str.contains("Machinery")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("EL")].tolist()
# Efficiency of electric machinery
Eff_EL_mach_comm=0.825
# Electriciy demand for machinery (GWh)
EL_mach_comm_FEC = selected_row[selected_column].values[0, 0]
# End-use demand related to electric machinery in the commercial sector in Bolivia (GWh)
EL_mach_comm_EUD = EL_mach_comm_FEC*Eff_EL_mach_comm
# Energy intensity per capita related to electric machinery in the commercial sector in Bolivia (GWh/person)
EL_mach_comm_EI = EL_mach_comm_EUD/total_population


# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("DS")].tolist()
# Efficiency of diesel machinery
Eff_DS_mach_comm=1/2.6568
# Diesel consumption for machinery (GWh)
DS_mach_comm_FEC = selected_row[selected_column].values[0, 0]
# End-use demand related to diesel machinery in the commercial sector in Bolivia (GWh)
DS_mach_comm_EUD = DS_mach_comm_FEC*Eff_DS_mach_comm
# Energy intensity per capita related to diesel machinery in the commercial sector in Bolivia (GWh/person)
DS_mach_comm_EI = DS_mach_comm_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Commercial', 'Commercial', 'Commercial','Machinery', 'DS Comm Machinery', '', '', '', '', '', DS_mach_comm_FEC, '', '', Eff_DS_mach_comm, DS_mach_comm_EI, 'GWh/person', DS_mach_comm_EUD, 'GWh commercial mechanical energy'],
    ['Commercial', 'Commercial', 'Commercial','Machinery', 'EL Comm Machinery', EL_mach_comm_FEC, '','', '', '', '', '', '', Eff_EL_mach_comm, EL_mach_comm_EI, 'GWh/person', EL_mach_comm_EUD, 'GWh commercial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>6.5. Other appliances</b></font> <a class="anchor" id="section_6_5"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of electrical appliances: <a href='https://energypedia.info/images/c/c1/CARACTERIZACI%C3%93N_dEL_CONSUMO_EL%C3%89CTRICO_EN_HOGARES_Y_POTENCIALIDADES_en_EFICIENCIA_ENERG%C3%89TICA.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Caracterización del consumo eléctrico en hogares y potencialidades en eficiencia energética; 2022. p. 23.</a></div>

In [67]:
# Find the row with a specific name
selected_row = df3[df3.iloc[:, 0].str.contains("Electrical_appliances")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("EL")].tolist()
# Efficiency of electrical appliances
Eff_EL_appliance_comm=1
# Electriciy demand for electrical appliances (GWh)
EL_appliance_comm_FEC = selected_row[selected_column].values[0, 0]
# End-use demand related to electrical appliances in the commercial sector in Bolivia (GWh)
EL_appliance_comm_EUD = EL_appliance_comm_FEC*Eff_EL_appliance_comm
# Energy intensity per capita related to electrical appliances in the commercial sector in Bolivia (GWh/person)
EL_appliance_comm_EI = EL_appliance_comm_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Commercial', 'Commercial', 'Commercial','Other Appliances', 'EL Appliances', EL_appliance_comm_FEC, '','', '', '', '', '', '', Eff_EL_appliance_comm, EL_appliance_comm_EI, 'GWh/person', EL_appliance_comm_EUD, 'GWh electricity']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>6.6. Graphs</b></font> <a class="anchor" id="section_6_6"></a>

---

<font size="3"><b>6.6.1. Bar chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_6_6_1"></a>

In [68]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:24: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [69]:
# Filter rows where 'Sector' column contains 'Commercial'
filtered_df = copied_df[copied_df['Sector'].str.contains('Commercial')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=700,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Technology',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>6.6.2. Pie chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_6_6_2"></a>

In [70]:
# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Commercial')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Division
fig = make_subplots(rows=2, cols=4, subplot_titles=grouped_df['Division'].unique(), specs=[[{'type': 'pie'}]*4]*2)

row, col = 1, 1
for division in grouped_df['Division'].unique():
    values = grouped_df[grouped_df['Division'] == division][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=division,
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique divisions than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=950,
    width=1375,
    annotations=[dict(text=header, font=dict(size=15), showarrow=False) for i, (header, col, row) in enumerate(zip(grouped_df['Division'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>7. Industrial sector</b></font> <a class="anchor" id="section_7"></a>

---


---

<font size="4"><b>7.1. Large enterprises</b></font> <a class="anchor" id="section_7_1"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Number of large industries per service: <a href='https://nube.ine.gob.bo/index.php/s/e4KGjnr2j1LPdi0/download'> Ministerio de Desarrollo Productivo y Economía Plural (MDPyEP), Dirección de Análisis Productivo (DAPRO). Sistema Integrado de información productiva: Mapeo de unidades productivas; 2017.</a>
* Fossil gas consumption per industry and per ton of cement production: <a href='https://energypedia.info/images/f/fa/UN_PROGRAMA_DE_EFICIENCIA_ENERG%C3%89TICA_PARA_EL_SECTOR_INDUSTRIAL_BOLIVIANO.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Un programa de eficiencia energética para el sector industrial boliviano. 2022; p. 41-42.</a>
* Electricity demand per industry: <a href='https://energypedia.info/images/f/fa/UN_PROGRAMA_DE_EFICIENCIA_ENERG%C3%89TICA_PARA_EL_SECTOR_INDUSTRIAL_BOLIVIANO.pdf'> Ministerio de Hidrocarburos y Energías (MHE), Viceministerio de Electricidad y Energías Alternativas (VMEEA), Niras - IP Consult para el Programa de Energías Renovables (PEERR II). Un programa de eficiencia energética para el sector industrial boliviano. 2022; p. 27.</a>
* Cement production: <a href='https://nube.ine.gob.bo/index.php/s/e4KGjnr2j1LPdi0/download'> Instituto Nacional de Estadistica (INE). Bolivia - Producción de Cemento por Departamento según Año y Mes 1991 - 2023; 2023.</a>
* Electricity demand per ton of cement production: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>
* Efficiency of electric machinery: <a href='https://ieeexplore.ieee.org/abstract/document/8564685'> Rivera, R. I, Joyman, T. C, Rosaura, C. M, Quispe, E. C. Implementation of a procedure to determine induction motor efficiency according to IEC 60034-2-1 standard. In 2018 IEEE ANDESCON. 2018; p. 1-7 </a>
* Efficiency of other technologies: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a></div>

<font size="3"><b>7.1.1. Cement</b></font> <a class="anchor" id="section_7_1_1"></a>

In [71]:
# Cement production in Bolivia (ton)
ton_cement=3606959
# Fossil gas consumption per ton of cement production in Bolivia (GWh/ton)
FG_ton_cement=0.000388049511406026
# Efficiency of fossil gas industrial boiler
Eff_FG_boiler_ind=1/1.088771429
# Fossil gas demand for cement production in Bolivia (GWh)
FG_boiler_cement_FEC=ton_cement*FG_ton_cement
# End-use demand related to fossil gas boiler for cement production in Bolivia (GWh)
FG_boiler_cement_EUD=FG_boiler_cement_FEC*Eff_FG_boiler_ind
# Energy intensity per ton of cement production related to fossil gas boiler for cement production in Bolivia (GWh/ton cement)
FG_boiler_cement_EI = FG_boiler_cement_EUD/ton_cement


# Electricity demand per ton of cement production in Bolivia (GWh/ton)
EL_ton_cement=0.00011999361111111
# Efficiency of electric machinery
Eff_EL_machinery_ind=0.90
# Electricity demand for cement production in Bolivia (GWh)
EL_machinery_cement_FEC=ton_cement*EL_ton_cement
# End-use demand related to electric machinery for cement production in Bolivia (GWh)
EL_machinery_cement_EUD=EL_machinery_cement_FEC*Eff_EL_machinery_ind
# Energy intensity per ton of cement production related to electric machinery for cement production in Bolivia (GWh/ton cement)
EL_machinery_cement_EI = EL_machinery_cement_EUD/ton_cement


# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'Large enterprises', 'Cement','Process Heat', 'FG Boiler', '', FG_boiler_cement_FEC,'', '', '', '', '', '', Eff_FG_boiler_ind, FG_boiler_cement_EI, 'GWh/ton cement', FG_boiler_cement_EUD, 'GWh high_temp'],
    ['Industrial', 'Large enterprises', 'Cement','Process Heat', 'EL Boiler', 0, '', '', '', '', '', '', '', 0.95, 0.000500, 'GWh/ton cement', 0, 'GWh high_temp'],
    ['Industrial', 'Large enterprises', 'Cement','Machinery', 'EL Ind Machinery', EL_machinery_cement_FEC, '','', '', '', '', '', '', Eff_EL_machinery_ind, EL_machinery_cement_EI, 'GWh/ton cement', EL_machinery_cement_EUD, 'GWh industrial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.1.2. Pulp and paper</b></font> <a class="anchor" id="section_7_1_2"></a>

In [72]:
# Number of large pulp and paper industries
num_industry_paper=20
# Fossil gas consumption per large pulp and paper industry in Bolivia (GWh/industry)
FG_industry_paper=12.4182959869141
# Efficiency of fossil gas industrial boiler
Eff_FG_boiler_ind=1/1.088771429
# Fossil gas demand for pulp and paper manufacturing in Bolivia (GWh)
FG_boiler_paper_FEC=num_industry_paper*FG_industry_paper
# End-use demand related to fossil gas boiler for pulp and paper manufacturing in Bolivia (GWh)
FG_boiler_paper_EUD=FG_boiler_paper_FEC*Eff_FG_boiler_ind
# Energy intensity per large pulp and paper industry related to fossil gas boiler in Bolivia (GWh/industry)
FG_boiler_paper_EI = FG_boiler_paper_EUD/num_industry_paper


# Electricty demand per large pulp and paper industry in Bolivia (GWh/industry)
EL_industry_paper=(7479*12)/1000000
# Efficiency of electric machinery
Eff_EL_machinery_ind=0.90
# Electricity demand for pulp and paper manufacturing in Bolivia (GWh)
EL_machinery_paper_FEC=num_industry_paper*EL_industry_paper
# End-use demand related to electric machinery for pulp and paper manufacturing in Bolivia (GWh)
EL_machinery_paper_EUD=EL_machinery_paper_FEC*Eff_EL_machinery_ind
# Energy intensity per large pulp and paper industry related to electric machinery in Bolivia (GWh/industry)
EL_machinery_paper_EI = EL_machinery_paper_EUD/num_industry_paper


# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'Large enterprises','Pulp & Paper', 'Process Heat', 'FG Boiler', '', FG_boiler_paper_FEC,'', '', '', '', '', '', Eff_FG_boiler_ind, FG_boiler_paper_EI, 'GWh/industry', FG_boiler_paper_EUD, 'GWh high_temp'],
    ['Industrial', 'Large enterprises', 'Pulp & Paper','Process Heat', 'EL Boiler', 0, '','', '', '', '', '', '', 0.95, 0.000500, 'GWh/ton cement', 0, 'GWh high_temp'],
    ['Industrial', 'Large enterprises','Pulp & Paper', 'Machinery', 'EL Ind Machinery', EL_machinery_paper_FEC, '','', '', '', '', '', '', Eff_EL_machinery_ind, EL_machinery_paper_EI, 'GWh/industry', EL_machinery_paper_EUD, 'GWh industrial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.1.3. Ceramics and porcelain</b></font> <a class="anchor" id="section_7_1_3"></a>

In [73]:
# Number of large ceramics and porcelain industries
num_industry_ceramic=239
# Fossil gas consumption per large ceramics and porcelain industry in Bolivia (GWh/industry)
FG_industry_ceramic=9.05498088633056
# Efficiency of fossil gas industrial boiler
Eff_FG_boiler_ind=1/1.088771429
# Fossil gas demand for ceramics and porcelain manufacturing in Bolivia (GWh)
FG_boiler_ceramic_FEC=num_industry_ceramic*FG_industry_ceramic
# End-use demand related to fossil gas boiler for ceramics and porcelain manufacturing in Bolivia (GWh)
FG_boiler_ceramic_EUD=FG_boiler_ceramic_FEC*Eff_FG_boiler_ind
# Energy intensity per large ceramics and porcelain industry related to fossil gas boiler in Bolivia (GWh/industry)
FG_boiler_ceramic_EI = FG_boiler_ceramic_EUD/num_industry_ceramic


# Electricty demand per ceramics and porcelain industry in Bolivia (GWh/industry)
EL_industry_ceramic=(7479*12)/1000000
# Efficiency of electric machinery
Eff_EL_machinery_ind=0.90
# Electricity demand for ceramics and porcelain manufacturing in Bolivia (GWh)
EL_machinery_ceramic_FEC=num_industry_ceramic*EL_industry_ceramic
# End-use demand related to electric machinery for ceramics and porcelain manufacturing in Bolivia (GWh)
EL_machinery_ceramic_EUD=EL_machinery_ceramic_FEC*Eff_EL_machinery_ind
# Energy intensity per large ceramics and porcelain industry related to electric machinery in Bolivia (GWh/industry)
EL_machinery_ceramic_EI = EL_machinery_ceramic_EUD/num_industry_ceramic


# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'Large enterprises','Ceramic & Porcelain', 'Process Heat','FG Boiler', '', FG_boiler_ceramic_FEC,'', '', '', '', '', '', Eff_FG_boiler_ind, FG_boiler_ceramic_EI, 'GWh/industry', FG_boiler_ceramic_EUD, 'GWh high_temp'],
    ['Industrial', 'Large enterprises', 'Ceramic & Porcelain','Process Heat', 'EL Boiler', 0, '','', '', '', '', '', '', 0.95, 0.000500, 'GWh/ton cement', 0, 'GWh high_temp'],
    ['Industrial', 'Large enterprises','Ceramic & Porcelain', 'Machinery','EL Ind Machinery', EL_machinery_ceramic_FEC, '','', '', '', '', '', '', Eff_EL_machinery_ind, EL_machinery_ceramic_EI, 'GWh/industry', EL_machinery_ceramic_EUD, 'GWh industrial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.1.4. Foods and beverages</b></font> <a class="anchor" id="section_7_1_4"></a>

In [74]:
# Number of large foods and beverages industries
num_industry_food=200
# Fossil gas consumption per large foods and beverages industry in Bolivia (GWh/industry)
FG_industry_food=7.4428133174558
# Efficiency of fossil gas industrial boiler
Eff_FG_boiler_ind=1/1.088771429
# Fossil gas demand for foods and beverages manufacturing in Bolivia (GWh)
FG_boiler_food_FEC=num_industry_food*FG_industry_food
# End-use demand related to fossil gas boiler for foods and beverages manufacturing in Bolivia (GWh)
FG_boiler_food_EUD=FG_boiler_food_FEC*Eff_FG_boiler_ind
# Energy intensity per large foods and beverages industry related to fossil gas boiler in Bolivia (GWh/industry)
FG_boiler_food_EI = FG_boiler_food_EUD/num_industry_food


# Electricty demand per foods and beverages industry in Bolivia (GWh/industry)
EL_industry_food=(7479*12)/1000000
# Efficiency of electric machinery
Eff_EL_machinery_ind=0.90
# Electricity demand for foods and beverages manufacturing in Bolivia (GWh)
EL_machinery_food_FEC=num_industry_food*EL_industry_food
# End-use demand related to electric machinery for foods and beverages manufacturing in Bolivia (GWh)
EL_machinery_food_EUD=EL_machinery_food_FEC*Eff_EL_machinery_ind
# Energy intensity per large foods and beverages industry related to electric machinery in Bolivia (GWh/industry)
EL_machinery_food_EI = EL_machinery_food_EUD/num_industry_food


# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'Large enterprises','Foods & Beverages', 'Process Heat','FG Boiler', '', FG_boiler_food_FEC,'', '', '', '', '', '', Eff_FG_boiler_ind, FG_boiler_food_EI, 'GWh/industry', FG_boiler_food_EUD, 'GWh high_temp'],
    ['Industrial', 'Large enterprises', 'Foods & Beverages','Process Heat', 'EL Boiler', 0, '','', '', '', '', '', '', 0.95, 0.000500, 'GWh/ton cement', 0, 'GWh high_temp'],
    ['Industrial', 'Large enterprises','Foods & Beverages', 'Machinery','EL Ind Machinery', EL_machinery_food_FEC, '','', '', '', '', '', '', Eff_EL_machinery_ind, EL_machinery_food_EI, 'GWh/industry', EL_machinery_food_EUD, 'GWh industrial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.1.5. Chemicals</b></font> <a class="anchor" id="section_7_1_5"></a>

In [75]:
# Number of large chemicals industries
num_industry_chemical=22
# Fossil gas consumption per large chemicals industry in Bolivia (GWh/industry)
FG_industry_chemical=7.06756741780391
# Efficiency of fossil gas industrial boiler
Eff_FG_boiler_ind=1/1.088771429
# Fossil gas demand for chemicals manufacturing in Bolivia (GWh)
FG_boiler_chemical_FEC=num_industry_chemical*FG_industry_chemical
# End-use demand related to fossil gas boiler for chemicals manufacturing in Bolivia (GWh)
FG_boiler_chemical_EUD=FG_boiler_chemical_FEC*Eff_FG_boiler_ind
# Energy intensity per large chemicals industry related to fossil gas boiler in Bolivia (GWh/industry)
FG_boiler_chemical_EI = FG_boiler_chemical_EUD/num_industry_chemical


# Electricty demand per chemicals industry in Bolivia (GWh/industry)
EL_industry_chemical=(7479*12)/1000000
# Efficiency of electric machinery
Eff_EL_machinery_ind=0.90
# Electricity demand for chemicals manufacturing in Bolivia (GWh)
EL_machinery_chemical_FEC=num_industry_chemical*EL_industry_chemical
# End-use demand related to electric machinery for chemicals manufacturing in Bolivia (GWh)
EL_machinery_chemical_EUD=EL_machinery_chemical_FEC*Eff_EL_machinery_ind
# Energy intensity per large chemicals industry related to electric machinery in Bolivia (GWh/industry)
EL_machinery_chemical_EI = EL_machinery_chemical_EUD/num_industry_chemical


# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'Large enterprises','Chemicals', 'Process Heat','FG Boiler', '', FG_boiler_chemical_FEC,'', '', '', '', '', '', Eff_FG_boiler_ind, FG_boiler_chemical_EI, 'GWh/industry', FG_boiler_chemical_EUD, 'GWh high_temp'],
    ['Industrial', 'Large enterprises', 'Chemicals','Process Heat', 'EL Boiler', 0, '','', '', '', '', '', '', 0.95, 0.000500, 'GWh/ton cement', 0, 'GWh high_temp'],
    ['Industrial', 'Large enterprises','Chemicals', 'Machinery','EL Ind Machinery', EL_machinery_chemical_FEC, '','', '', '', '', '', '', Eff_EL_machinery_ind, EL_machinery_chemical_EI, 'GWh/industry', EL_machinery_chemical_EUD, 'GWh industrial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.1.6. Construction</b></font> <a class="anchor" id="section_7_1_6"></a>

In [76]:
# Number of large construction industries
num_industry_construction=39
# Fossil gas consumption per large construction industry in Bolivia (GWh/industry)
FG_industry_construction=4.94117398644323
# Efficiency of fossil gas industrial boiler
Eff_FG_boiler_ind=1/1.088771429
# Fossil gas demand for construction manufacturing in Bolivia (GWh)
FG_boiler_construction_FEC=num_industry_construction*FG_industry_construction
# End-use demand related to fossil gas boiler for construction manufacturing in Bolivia (GWh)
FG_boiler_construction_EUD=FG_boiler_construction_FEC*Eff_FG_boiler_ind
# Energy intensity per large construction industry related to fossil gas boiler in Bolivia (GWh/industry)
FG_boiler_construction_EI = FG_boiler_construction_EUD/num_industry_construction


# Electricty demand per construction industry in Bolivia (GWh/industry)
EL_industry_construction=(7479*12)/1000000
# Efficiency of electric machinery
Eff_EL_machinery_ind=0.90
# Electricity demand for construction manufacturing in Bolivia (GWh)
EL_machinery_construction_FEC=num_industry_construction*EL_industry_construction
# End-use demand related to electric machinery for construction manufacturing in Bolivia (GWh)
EL_machinery_construction_EUD=EL_machinery_construction_FEC*Eff_EL_machinery_ind
# Energy intensity per large construction industry related to electric machinery in Bolivia (GWh/industry)
EL_machinery_construction_EI = EL_machinery_construction_EUD/num_industry_construction


# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'Large enterprises','Construction', 'Process Heat','FG Boiler', '', FG_boiler_construction_FEC,'', '', '', '', '', '', Eff_FG_boiler_ind, FG_boiler_construction_EI, 'GWh/industry', FG_boiler_construction_EUD, 'GWh high_temp'],
    ['Industrial', 'Large enterprises', 'Construction', 'Process Heat', 'EL Boiler', 0, '','', '', '', '', '', '', 0.95, 0.000500, 'GWh/ton cement', 0, 'GWh high_temp'],
    ['Industrial', 'Large enterprises','Construction', 'Machinery','EL Ind Machinery', EL_machinery_construction_FEC, '','', '', '', '', '', '', Eff_EL_machinery_ind, EL_machinery_construction_EI, 'GWh/industry', EL_machinery_construction_EUD, 'GWh industrial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.1.7. Lighting</b></font> <a class="anchor" id="section_7_1_7"></a>

In [77]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("INDUSTRIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("ELECTRICITY")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
EL_industrial_FEC = selected_row[selected_column].values[0, 0]
#  Electricity demand related to lighting in the industrial sector in Bolivia (GWh)
EL_light_industrial_FEC = EL_industrial_FEC * 0.1
#  Efficiency of LED lighting in the industrial sector
Eff_EL_LED_light_industrial = 0.34
# Share of LED lighting in Bolivia
share_LED_light_industrial = 0.0750775529863436
# Electricity demand related to LED lighting in the commercial sector in Bolivia (GWh)
EL_LED_light_industrial_FEC = EL_light_industrial_FEC * share_LED_light_industrial
# End-use demand related to LED lighting in the commercial sector in Bolvia (GWh)
EL_LED_light_industrial_EUD = EL_LED_light_industrial_FEC*Eff_EL_LED_light_industrial
# Energy intesity per capita related to LED lighting in the commercial sector in Bolivia (GWh/person)
EL_LED_light_industrial_EI = EL_LED_light_industrial_EUD/(num_industry_paper+num_industry_ceramic+num_industry_food+num_industry_chemical+num_industry_construction)
# Efficiency of conventional lighting
Eff_EL_conventional_light_industrial = 0.1025
# Electricity demand related to conventional lighting in the commercial sector in Bolivia (GWh)
EL_conventional_light_industrial_FEC = EL_light_industrial_FEC - EL_LED_light_industrial_FEC
# End-use demand related to conventional lighting in the commercial sector in Bolivia (GWh)
EL_conventional_light_industrial_EUD = EL_conventional_light_industrial_FEC*Eff_EL_conventional_light_industrial
# Energy intesity per capita related to conventional lighting in the commercial sector in Bolivia (GWh/person)
EL_conventional_light_industrial_EI = EL_conventional_light_industrial_EUD/(num_industry_paper+num_industry_ceramic+num_industry_food+num_industry_chemical+num_industry_construction)

# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'Large enterprises','Large enterprises', 'Lighting','Conventional_bulb', EL_conventional_light_industrial_FEC, '','', '', '', '', '', '', Eff_EL_conventional_light_industrial, EL_conventional_light_industrial_EI, 'GWh/industry', EL_conventional_light_industrial_EUD, 'GWh lighting'],
    ['Industrial', 'Large enterprises','Large enterprises', 'Lighting','LED_bulb', EL_LED_light_industrial_FEC, '','', '', '', '', '', '', Eff_EL_LED_light_industrial, EL_LED_light_industrial_EI, 'GWh/industry', EL_LED_light_industrial_EUD, 'GWh lighting']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df


---

<font size="4"><b>7.2. Micro, small and medium-sized enterprises (MSMEs)</b></font> <a class="anchor" id="section_7_2"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

*   Efficiency of FG, WD, LPG, LFO and DS boilers: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a>
* Efficiency of electric machinery: <a href='https://ieeexplore.ieee.org/abstract/document/8564685'> Rivera, R. I, Joyman, T. C, Rosaura, C. M, Quispe, E. C. Implementation of a procedure to determine induction motor efficiency according to IEC 60034-2-1 standard. In 2018 IEEE ANDESCON. 2018; p. 1-7.</a></div>

<font size="3"><b>7.2.1. Process Heat</b></font> <a class="anchor" id="section_7_2_1"></a>

In [78]:
# Target division
Division = 'Sector'
# Target value
Value = 'Industrial'
# Target header
Header = 'FG'
# Check if target value is in each row of the first column
target_rows = End_Use_df[End_Use_df[Division] == Value ]
if not target_rows.empty:
# Filter out non-numeric values in the target header and then sum
    numeric_values = pd.to_numeric(target_rows[Header], errors='coerce')
    total_sum = numeric_values.sum()
# Find the row with a specific name
selected_row = df[df.index.str.contains("INDUSTRIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("NATURAL GAS")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
FG_industrial_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of fossil gas industrial boiler
Eff_FG_boiler_ind=1/1.088771429
# Fossil gas consumption for process heat (GWh)
FG_boiler_MSME_FEC = FG_industrial_FEC-total_sum
# End-use demand related to fossil gas industrial boiler for process heat (GWh)
FG_boiler_MSME_EUD = FG_boiler_MSME_FEC*Eff_FG_boiler_ind
# Energy intesity per capita related to fossil gas industrial boiler for process heat (GWh/person)
FG_boiler_MSME_EI = FG_boiler_MSME_EUD/total_population


# Find the row with a specific name
selected_row = df[df.index.str.contains("INDUSTRIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("CANE BAGASSE")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
WD_industrial_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of biomass industrial boiler
Eff_WD_boiler_ind=1/1.167817143
# Biomass consumption for process heat (GWh)
WD_boiler_MSME_FEC = WD_industrial_FEC
# End-use demand related to biomass industrial boiler for process heat (GWh)
WD_boiler_MSME_EUD = WD_boiler_MSME_FEC*Eff_WD_boiler_ind
# Energy intesity per capita related to biomass industrial boiler for process heat (GWh/person)
WD_boiler_MSME_EI = WD_boiler_MSME_EUD/total_population


# Find the row with a specific name
selected_row = df[df.index.str.contains("INDUSTRIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("LPG")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
LPG_industrial_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of LPG industrial boiler
Eff_LPG_boiler_ind=1/1.559257667
# LPG consumption for process heat (GWh)
LPG_boiler_MSME_FEC = LPG_industrial_FEC
# End-use demand related to LPG industrial boiler for process heat (GWh)
LPG_boiler_MSME_EUD = LPG_boiler_MSME_FEC*Eff_LPG_boiler_ind
# Energy intesity per capita related to LPG industrial boiler for process heat (GWh/person)
LPG_boiler_MSME_EI = LPG_boiler_MSME_EUD/total_population


# Find the row with a specific name
selected_row = df[df.index.str.contains("INDUSTRIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("KEROSENE/JET FUEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
LFO_industrial_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of LFO industrial boiler
Eff_LFO_boiler_ind=1/1.157015238
# LFO consumption for process heat (GWh)
LFO_boiler_MSME_FEC = LFO_industrial_FEC
# End-use demand related to LFO industrial boiler for process heat (GWh)
LFO_boiler_MSME_EUD = LFO_boiler_MSME_FEC*Eff_LFO_boiler_ind
# Energy intesity per capita related to LFO industrial boiler for process heat (GWh/person)
LFO_boiler_MSME_EI = LFO_boiler_MSME_EUD/total_population


# Find the row with a specific name
selected_row = df[df.index.str.contains("INDUSTRIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("DIESEL OIL WITHOUT BIODIESEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
DS_industrial_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of diesel industrial boiler
Eff_DS_boiler_ind=1/2.6568
# Diesel consumption for process heat (GWh)
DS_boiler_MSME_FEC = DS_industrial_FEC
# End-use demand related to diesel industrial boiler for process heat (GWh)
DS_boiler_MSME_EUD = DS_boiler_MSME_FEC*Eff_DS_boiler_ind
# Energy intesity per capita related to diesel industrial boiler for process heat (GWh/person)
DS_boiler_MSME_EI = DS_boiler_MSME_EUD/total_population

# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'MSMEs', 'MSMEs', 'Process Heat', 'FG Boiler', '', FG_boiler_MSME_FEC,'', '', '', '', '', '', Eff_FG_boiler_ind, FG_boiler_MSME_EI, 'GWh/person', FG_boiler_MSME_EUD, 'GWh high_temp'],
    ['Industrial', 'MSMEs', 'MSMEs', 'Process Heat', 'WD Boiler', '', '','', WD_boiler_MSME_FEC, '', '', '', '', Eff_WD_boiler_ind, WD_boiler_MSME_EI, 'GWh/person', WD_boiler_MSME_EUD, 'GWh high_temp'],
    ['Industrial', 'MSMEs', 'MSMEs', 'Process Heat', 'LPG Boiler', '', '', LPG_boiler_MSME_FEC, '', '', '', '', '', Eff_LPG_boiler_ind, LPG_boiler_MSME_EI, 'GWh/person', LPG_boiler_MSME_EUD, 'GWh high_temp'],
    ['Industrial', 'MSMEs', 'MSMEs', 'Process Heat', 'LFO Boiler', '', '', '', '', '', '', '', LFO_boiler_MSME_FEC, Eff_LFO_boiler_ind, LFO_boiler_MSME_EI, 'GWh/person', LFO_boiler_MSME_EUD, 'GWh high_temp'],
    ['Industrial', 'MSMEs', 'MSMEs', 'Process Heat', 'DS Boiler', '', '','', '', '', DS_boiler_MSME_FEC, '', '', Eff_DS_boiler_ind, DS_boiler_MSME_EI, 'GWh/person', DS_boiler_MSME_EUD, 'GWh high_temp'],
    ['Industrial', 'MSMEs', 'MSMEs', 'Process Heat', 'EL Boiler', 0, '','', '', '', '', '', '', 0.95, 0.000500, 'GWh/ton cement', 0, 'GWh high_temp']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.2.2. Machinery</b></font> <a class="anchor" id="section_7_2_2"></a>

In [79]:
# Target division
Division = 'Sector'
# Target value
Value = 'Industrial'
# Target header
Header = 'EL'
# Check if target value is in each row of the first column
target_rows = End_Use_df[End_Use_df[Division] == Value ]
if not target_rows.empty:
# Filter out non-numeric values in the target header and then sum
    numeric_values = pd.to_numeric(target_rows[Header], errors='coerce')
    total_sum = numeric_values.sum()
# Find the row with a specific name
selected_row = df[df.index.str.contains("INDUSTRIAL")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("ELECTRICITY")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
EL_industrial_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of electric machinery
Eff_EL_machinery_ind=0.90
# Electricity demand for mechanical energy (GWh)
EL_machinery_MSME_FEC = EL_industrial_FEC-total_sum-EL_light_industrial_FEC
# End-use demand related to electric machinery for mechanical energy (GWh)
EL_machinery_MSME_EUD = EL_machinery_MSME_FEC*Eff_EL_machinery_ind
# Energy intesity per capita related to fossil gas industrial boiler for process heat (GWh/person)
EL_machinery_MSME_EI = EL_machinery_MSME_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Industrial', 'MSMEs', 'MSMEs','Machinery', 'EL Ind Machinery', EL_machinery_MSME_FEC, '','', '', '', '', '', '', Eff_EL_machinery_ind, EL_machinery_MSME_EI, 'GWh/person', EL_machinery_MSME_EUD, 'GWh industrial mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>7.3. Graphs</b></font> <a class="anchor" id="section_7_3"></a>

---

<font size="3"><b>7.3.1. Bar chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_7_3_1"></a>

In [80]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:24: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:30: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [81]:
# Filter rows where 'Sector' column contains 'Commercial'
filtered_df = copied_df[copied_df['Sector'].str.contains('Industrial')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=700,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Type of usage',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>7.3.2. Pie chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_7_3_2"></a>

In [82]:
# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Industrial')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Division
fig = make_subplots(rows=2, cols=4, subplot_titles=grouped_df['Division'].unique(), specs=[[{'type': 'pie'}]*4]*2)

row, col = 1, 1
for division in grouped_df['Division'].unique():
    values = grouped_df[grouped_df['Division'] == division][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=division,
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique divisions than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=950,
    width=1375,
    annotations=[dict(text=header, font=dict(size=15), showarrow=False) for i, (header, col, row) in enumerate(zip(grouped_df['Division'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>8. Agriculture</b></font> <a class="anchor" id="section_8"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Cultivated agricultural area: <a href='https://nube.ine.gob.bo/index.php/s/PnEqp7IopHEJDBu/download'> Instituto Nacional de Estadistica (INE). Bolivia - Superficie Año Agrícola por Departamento, 1984 - 2022; 2023.</a>
* Diesel consumption per hectare of cultivated agricultural area: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>
* Electricity demand per hectare of cultivated agricultural area: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>
*   Efficiency of diesel trucks: <a href='https://www.sciencedirect.com/science/article/abs/pii/S0306261919314163'> Limpens G, Moret S, Jeanmart H, Marechal F. EnergyScope TD: A novel open-source model for regional energy systems. Applied Energy. 2019; 255:113729.</a>
* Efficiency of electric machinery: <a href='https://ieeexplore.ieee.org/abstract/document/8564685'> Rivera, R. I, Joyman, T. C, Rosaura, C. M, Quispe, E. C. Implementation of a procedure to determine induction motor efficiency according to IEC 60034-2-1 standard. In 2018 IEEE ANDESCON. 2018; p. 1-7.</a>
* Efficiency of diesel machinery: <a href='https://iopscience.iop.org/article/10.1088/1755-1315/1010/1/012140/meta'> Ivanov, I. A, Persiyanova, G. E. Improving the efficiency of diesel engines of agricultural machines. In IOP Conference Series: Earth and Environmental Science. IOP Publishing. 2022; Vol. 1010, No. 1, p. 012140.</a></div>


---

<font size="4"><b>8.1. Truck</b></font> <a class="anchor" id="section_8_1"></a>

---

In [83]:
# Cultivated agricultural area (Hectare)
area_cultivated=4019489
# Diesel consumption related to diesel trucks per hectare of cultivated agricultural area (GWh/hectare)
DS_truck_area_cultivated=0.000008466
# Diesel consumption related to diesel trucks (GWh)
DS_truck_agric_FEC = area_cultivated * DS_truck_area_cultivated
# End-use demand related to diesel trucks (GWh)
DS_truck_agric_EUD = DS_truck_agric_FEC/Eff_DS_truck
# Energy intesity per hectare related to diesel truck (GWh/hectare)
DS_truck_agric_EI = DS_truck_agric_EUD/area_cultivated


# New rows to be added to the results dataframe
new_rows = [
    ['Agriculture', 'Agriculture', 'Agriculture', 'Tractor & Others', 'DS Tractor', '', '', '', '', '', DS_truck_agric_FEC, '', '', Eff_DS_truck, DS_truck_agric_EI, 'GWh/hectare', DS_truck_agric_EUD, 'GWh tractor mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>8.2. Irrigation</b></font> <a class="anchor" id="section_8_2"></a>

---

In [84]:
# Efficiency of diesel machinery
Eff_DS_machinery_agric=1/2.6568
# Diesel consumption related to diesel machinery for irrigation per hectare of cultivated agricultural area (GWh/hectare)
DS_machinery_area_cultivated=0.000084915
# Diesel consumption related to diesel machinery for irrigation (GWh)
DS_machinery_agric_FEC = area_cultivated * DS_machinery_area_cultivated
# End-use demand related to diesel machinery for irrigation (GWh)
DS_machinery_agric_EUD = DS_machinery_agric_FEC*Eff_DS_machinery_agric
# Energy intesity per hectare related to diesel machinery for irrigation (GWh/hectare)
DS_machinery_agric_EI = DS_machinery_agric_EUD/area_cultivated


# Efficiency of electric machinery
Eff_EL_machinery_agric=0.90
# Electricity demand related to electric machinery for irrigation per hectare of cultivated agricultural area (GWh/hectare)
EL_machinery_area_cultivated=0.00002778
# Electricity demand related to electric machinery for irrigation (GWh)
EL_machinery_agric_FEC = area_cultivated * EL_machinery_area_cultivated
# End-use demand related to electric machinery for irrigation (GWh)
EL_machinery_agric_EUD = EL_machinery_agric_FEC*Eff_EL_machinery_agric
# Energy intesity per hectare related to electric machinery for irrigation (GWh/hectare)
EL_machinery_agric_EI = EL_machinery_agric_EUD/area_cultivated


# New rows to be added to the results dataframe
new_rows = [
    ['Agriculture', 'Agriculture', 'Agriculture', 'Irrigation', 'DS Agr Machinery', '', '', '', '','', DS_machinery_agric_FEC, '', '', Eff_DS_machinery_agric, DS_machinery_agric_EI, 'GWh/hectare', DS_machinery_agric_EUD, 'GWh agriculture mechanical energy'],
    ['Agriculture', 'Agriculture', 'Agriculture', 'Irrigation','EL Agr Machinery', EL_machinery_agric_FEC, '','', '', '', '', '', '', Eff_EL_machinery_agric, EL_machinery_agric_EI, 'GWh/hectare', EL_machinery_agric_EUD, 'GWh agriculture mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>8.3. Graphs</b></font> <a class="anchor" id="section_8_3"></a>

---

<font size="3"><b>8.3.1. Bar chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_8_3_1"></a>

In [85]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:24: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:30: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [86]:
# Filter rows where 'Sector' column contains 'Commercial'
filtered_df = copied_df[copied_df['Sector'].str.contains('Agriculture')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=700,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Type of usage',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>8.3.2. Pie chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_8_3_2"></a>

In [87]:
# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Agriculture')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Division
fig = make_subplots(rows=1, cols=2, subplot_titles=grouped_df['Division'].unique(), specs=[[{'type': 'pie'}]*2]*1)

row, col = 1, 1
for division in grouped_df['Division'].unique():
    values = grouped_df[grouped_df['Division'] == division][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=division,
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique divisions than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=950,
    width=1375,
    annotations=[dict(text=header, font=dict(size=15), showarrow=False) for i, (header, col, row) in enumerate(zip(grouped_df['Division'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>9. Mining</b></font> <a class="anchor" id="section_9"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Yearly production of ores or minerals: <a href='https://nube.ine.gob.bo/index.php/s/f8Iw1MPCtTcpFT1/download'> Instituto Nacional de Estadistica (INE). Bolivia - Producción Nacional de Minerales por Tipo de Mineral según Año y Mes 1990 - 2023; 2023.</a>
* Diesel consumption per ton of mineral: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>
* Electricity demand per ton of mineral: <a href='https://www.sciencedirect.com/science/article/abs/pii/S2211467X17300172'> Balderrama, J. G. P, Broad, O, Sevillano, R. C, Alejo, L, Howells, M. Techno-economic demand projections and scenarios for the Bolivian energy system. Energy strategy reviews. 2017; 16, 96-109.</a>
* Efficiency of diesel machinery: <a href='https://iopscience.iop.org/article/10.1088/1755-1315/1010/1/012140/meta'> Ivanov, I. A, Persiyanova, G. E. Improving the efficiency of diesel engines of agricultural machines. In IOP Conference Series: Earth and Environmental Science. IOP Publishing. 2022; Vol. 1010, No. 1, p. 012140.</a>
* Efficiency of electric machinery: <a href='https://ieeexplore.ieee.org/abstract/document/8564685'> Rivera, R. I, Joyman, T. C, Rosaura, C. M, Quispe, E. C. Implementation of a procedure to determine induction motor efficiency according to IEC 60034-2-1 standard. In 2018 IEEE ANDESCON. 2018; p. 1-7.</a></div>


---

<font size="4"><b>9.1. Zinc ore</b></font> <a class="anchor" id="section_9_1"></a>

---

In [88]:
# Yearly production of zinc (ton)
prod_zinc=499536.46
# Efficiency of diesel machinery
Eff_DS_machinery_mining=1/2.6568
# Diesel consumption related to diesel machinery for production of zinc per ton of mineral (GWh/ton)
DS_machinery_prod_zinc=0.0005134+((0.0009418*1.35*(1000/0.45359)*6.96)/8117.3)
# Diesel consumption related to diesel machinery for production of zinc (GWh)
DS_machinery_prod_zinc_FEC = prod_zinc * DS_machinery_prod_zinc
# End-use demand related to diesel machinery for production of zinc (GWh)
DS_machinery_prod_zinc_EUD = DS_machinery_prod_zinc_FEC*Eff_DS_machinery_mining
# Energy intesity per ton of zinc related to diesel machinery (GWh/ton)
DS_machinery_prod_zinc_EI = DS_machinery_prod_zinc_EUD/prod_zinc


# Efficiency of electric machinery
Eff_EL_machinery_mining=0.90
# Electricity related to electric machinery for production of zinc per ton of mineral (GWh/ton)
EL_machinery_prod_zinc=0.001080464
# Electricity consumption related to electric machinery for production of zinc (GWh)
EL_machinery_prod_zinc_FEC = prod_zinc * EL_machinery_prod_zinc
# End-use demand related to electric machinery for production of zinc (GWh)
EL_machinery_prod_zinc_EUD = EL_machinery_prod_zinc_FEC*Eff_EL_machinery_mining
# Energy intesity per ton of zinc related to electric machinery (GWh/ton)
EL_machinery_prod_zinc_EI = EL_machinery_prod_zinc_EUD/prod_zinc


# New rows to be added to the results dataframe
new_rows = [
    ['Mining', 'Zinc Ore', 'Zinc Ore', 'Machinery', 'DS Min Machinery', '', '', '', '','', DS_machinery_prod_zinc_FEC, '', '', Eff_DS_machinery_mining, DS_machinery_prod_zinc_EI, 'GWh/ton', DS_machinery_prod_zinc_EUD, 'GWh mining mechanical energy'],
    ['Mining', 'Zinc Ore', 'Zinc Ore', 'Machinery','EL Min Machinery', EL_machinery_prod_zinc_FEC, '','', '', '', '', '', '', Eff_EL_machinery_mining, EL_machinery_prod_zinc_EI, 'GWh/ton', EL_machinery_prod_zinc_EUD, 'GWh mining mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>9.2. Lead ore</b></font> <a class="anchor" id="section_9_2"></a>

---

In [89]:
# Yearly production of lead (ton)
prod_lead=93246.38
# Efficiency of diesel machinery
Eff_DS_machinery_mining=1/2.6568
# Diesel consumption related to diesel machinery for production of lead per ton of mineral (GWh/ton)
DS_machinery_prod_lead=0.002431+((0.0009418*0.99*(1000/0.45359)*6.96)/8117.3)
# Diesel consumption related to diesel machinery for production of lead (GWh)
DS_machinery_prod_lead_FEC = prod_lead * DS_machinery_prod_lead
# End-use demand related to diesel machinery for production of lead (GWh)
DS_machinery_prod_lead_EUD = DS_machinery_prod_lead_FEC*Eff_DS_machinery_mining
# Energy intesity per ton of lead related to diesel machinery (GWh/ton)
DS_machinery_prod_lead_EI = DS_machinery_prod_lead_EUD/prod_lead


# Efficiency of electric machinery
Eff_EL_machinery_mining=0.90
# Electricity related to electric machinery for production of lead per ton of mineral (GWh/ton)
EL_machinery_prod_lead=0.00112684
# Electricity consumption related to electric machinery for production of lead (GWh)
EL_machinery_prod_lead_FEC = prod_lead * EL_machinery_prod_lead
# End-use demand related to electric machinery for production of lead (GWh)
EL_machinery_prod_lead_EUD = EL_machinery_prod_lead_FEC*Eff_EL_machinery_mining
# Energy intesity per ton of lead related to electric machinery (GWh/ton)
EL_machinery_prod_lead_EI = EL_machinery_prod_lead_EUD/prod_lead


# New rows to be added to the results dataframe
new_rows = [
    ['Mining', 'Lead Ore', 'Lead Ore', 'Machinery', 'DS Min Machinery', '', '', '', '','', DS_machinery_prod_lead_FEC, '', '', Eff_DS_machinery_mining, DS_machinery_prod_lead_EI, 'GWh/ton', DS_machinery_prod_lead_EUD, 'GWh mining mechanical energy'],
    ['Mining', 'Lead Ore', 'Lead Ore', 'Machinery','EL Min Machinery', EL_machinery_prod_lead_FEC, '','', '', '', '', '', '', Eff_EL_machinery_mining, EL_machinery_prod_lead_EI, 'GWh/ton', EL_machinery_prod_lead_EUD, 'GWh mining mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>9.3. Tin ore</b></font> <a class="anchor" id="section_9_3"></a>

---

In [90]:
# Yearly production of tin (ton)
prod_tin=19668.69
# Efficiency of diesel machinery
Eff_DS_machinery_mining=1/2.6568
# Diesel consumption related to diesel machinery for production of tin per ton of mineral (GWh/ton)
DS_machinery_prod_tin=0.0023987+((0.0009418*14.42*(1000/0.45359)*6.96)/8117.3)
# Diesel consumption related to diesel machinery for production of tin (GWh)
DS_machinery_prod_tin_FEC = prod_tin * DS_machinery_prod_tin
# End-use demand related to diesel machinery for production of tin (GWh)
DS_machinery_prod_tin_EUD = DS_machinery_prod_tin_FEC*Eff_DS_machinery_mining
# Energy intesity per ton of tin related to diesel machinery (GWh/ton)
DS_machinery_prod_tin_EI = DS_machinery_prod_tin_EUD/prod_tin


# Efficiency of electric machinery
Eff_EL_machinery_mining=0.90
# Electricity related to electric machinery for production of tin per ton of mineral (GWh/ton)
EL_machinery_prod_tin=0.0023987
# Electricity consumption related to electric machinery for production of tin (GWh)
EL_machinery_prod_tin_FEC = prod_tin * EL_machinery_prod_tin
# End-use demand related to electric machinery for production of tin (GWh)
EL_machinery_prod_tin_EUD = EL_machinery_prod_tin_FEC*Eff_EL_machinery_mining
# Energy intesity per ton of tin related to electric machinery (GWh/ton)
EL_machinery_prod_tin_EI = EL_machinery_prod_tin_EUD/prod_tin


# New rows to be added to the results dataframe
new_rows = [
    ['Mining', 'Tin Ore', 'Tin Ore', 'Machinery', 'DS Min Machinery', '', '', '', '','', DS_machinery_prod_tin_FEC, '', '', Eff_DS_machinery_mining, DS_machinery_prod_tin_EI, 'GWh/ton', DS_machinery_prod_tin_EUD, 'GWh mining mechanical energy'],
    ['Mining', 'Tin Ore', 'Tin Ore', 'Machinery','EL Min Machinery', EL_machinery_prod_tin_FEC, '','', '', '', '', '', '', Eff_EL_machinery_mining, EL_machinery_prod_tin_EI, 'GWh/ton', EL_machinery_prod_tin_EUD, 'GWh mining mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>9.4. Copper ore</b></font> <a class="anchor" id="section_9_4"></a>

---

In [91]:
# Yearly production of copper (ton)
prod_copper=3309.91
# Efficiency of diesel machinery
Eff_DS_machinery_mining=1/2.6568
# Diesel consumption related to diesel machinery for production of copper per ton of mineral (GWh/ton)
DS_machinery_prod_copper=0.0032708+((0.0009418*4.20*(1000/0.45359)*6.96)/8117.3)
# Diesel consumption related to diesel machinery for production of copper (GWh)
DS_machinery_prod_copper_FEC = prod_copper * DS_machinery_prod_copper
# End-use demand related to diesel machinery for production of copper (GWh)
DS_machinery_prod_copper_EUD = DS_machinery_prod_copper_FEC*Eff_DS_machinery_mining
# Energy intesity per ton of copper related to diesel machinery (GWh/ton)
DS_machinery_prod_copper_EI = DS_machinery_prod_copper_EUD/prod_copper


# Efficiency of electric machinery
Eff_EL_machinery_mining=0.90
# Electricity related to electric machinery for production of copper per ton of mineral (GWh/ton)
EL_machinery_prod_copper=0.0032708
# Electricity consumption related to electric machinery for production of copper (GWh)
EL_machinery_prod_copper_FEC = prod_copper * EL_machinery_prod_copper
# End-use demand related to electric machinery for production of copper (GWh)
EL_machinery_prod_copper_EUD = EL_machinery_prod_copper_FEC*Eff_EL_machinery_mining
# Energy intesity per ton of copper related to electric machinery (GWh/ton)
EL_machinery_prod_copper_EI = EL_machinery_prod_copper_EUD/prod_copper


# New rows to be added to the results dataframe
new_rows = [
    ['Mining', 'Copper Ore', 'Copper Ore', 'Machinery', 'DS Min Machinery', '', '', '', '','', DS_machinery_prod_copper_FEC, '', '', Eff_DS_machinery_mining, DS_machinery_prod_copper_EI, 'GWh/ton', DS_machinery_prod_copper_EUD, 'GWh mining mechanical energy'],
    ['Mining', 'Copper Ore', 'Copper Ore', 'Machinery','EL Min Machinery', EL_machinery_prod_copper_FEC, '','', '', '', '', '', '', Eff_EL_machinery_mining, EL_machinery_prod_copper_EI, 'GWh/ton', EL_machinery_prod_copper_EUD, 'GWh mining mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>9.5. Graphs</b></font> <a class="anchor" id="section_9_5"></a>

---

<font size="3"><b>9.5.1. Bar chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_9_5_1"></a>

In [92]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:24: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:30: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [93]:
# Filter rows where 'Sector' column contains 'Commercial'
filtered_df = copied_df[copied_df['Sector'].str.contains('Mining')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=700,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Type of usage',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>9.5.2. Pie chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_9_5_2"></a>

In [94]:
# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Mining')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Division
fig = make_subplots(rows=1, cols=4, subplot_titles=grouped_df['Division'].unique(), specs=[[{'type': 'pie'}]*4]*1)

row, col = 1, 1
for division in grouped_df['Division'].unique():
    values = grouped_df[grouped_df['Division'] == division][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=division,
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique divisions than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=500,
    width=1375,
    annotations=[dict(text=header, font=dict(size=15), showarrow=False) for i, (header, col, row) in enumerate(zip(grouped_df['Division'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>10. Fishing and others</b></font> <a class="anchor" id="section_10"></a>

---

<div align="justify"> <font size="3">
<b>References:</b></font>

* Efficiency of diesel machinery: <a href='https://iopscience.iop.org/article/10.1088/1755-1315/1010/1/012140/meta'> Ivanov, I. A, Persiyanova, G. E. Improving the efficiency of diesel engines of agricultural machines. In IOP Conference Series: Earth and Environmental Science. IOP Publishing. 2022; Vol. 1010, No. 1, p. 012140.</a>
* Efficiency of electric machinery: <a href='https://ieeexplore.ieee.org/abstract/document/8564685'> Rivera, R. I, Joyman, T. C, Rosaura, C. M, Quispe, E. C. Implementation of a procedure to determine induction motor efficiency according to IEC 60034-2-1 standard. In 2018 IEEE ANDESCON. 2018; p. 1-7.</a></div>


---

<font size="4"><b>10.1. Machinery</b></font> <a class="anchor" id="section_10_1"></a>

---

In [95]:
# Target division
Division = 'Sector'
# Target value
Values = ['Agriculture', 'Mining']
# Target header
Header = 'EL'
# Initialize total_sum to 0
total_sum = 0
# Iterate over each target value
for Value in Values:
    # Check if target value is in each row of the first column
    target_rows = End_Use_df[End_Use_df[Division] == Value]

    if not target_rows.empty:
        # Filter out non-numeric values in the target header and then sum
        numeric_values = pd.to_numeric(target_rows[Header], errors='coerce')
        total_sum += numeric_values.sum()
# Find the row with a specific name
selected_row = df[df.index.str.contains("AGRICULTURE, FISHING AND MINING")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("ELECTRICITY")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
EL_agr_fish_mine_FEC = selected_row[selected_column].values[0, 0]
# Find the row with a specific name
selected_row = df[df.index.str.contains("CONSTRUCTION AND OTHERS")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("ELECTRICITY")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
EL_agr_fish_mine_FEC = EL_agr_fish_mine_FEC + selected_row[selected_column].values[0, 0]
# Efficiency of electric machinery
Eff_EL_machinery_other=0.90
# Electricity demand for mechanical energy (GWh)
EL_machinery_other_FEC = EL_agr_fish_mine_FEC-total_sum
# End-use demand related to electric machinery for mechanical energy (GWh)
EL_machinery_other_EUD = EL_machinery_other_FEC*Eff_EL_machinery_other
# Energy intesity per capita related to electric machinery for mechanical energy (GWh/person)
EL_machinery_other_EI = EL_machinery_other_EUD/total_population


# Target division
Division = 'Sector'
# Target value
Values = ['Agriculture', 'Mining']
# Target header
Header = 'DS'
# Initialize total_sum to 0
total_sum = 0
# Iterate over each target value
for Value in Values:
    # Check if target value is in each row of the first column
    target_rows = End_Use_df[End_Use_df[Division] == Value]

    if not target_rows.empty:
        # Filter out non-numeric values in the target header and then sum
        numeric_values = pd.to_numeric(target_rows[Header], errors='coerce')
        total_sum += numeric_values.sum()
# Find the row with a specific name
selected_row = df[df.index.str.contains("AGRICULTURE, FISHING AND MINING")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("DIESEL OIL WITHOUT BIODIESEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
DS_other_FEC = selected_row[selected_column].values[0, 0]
# Find the row with a specific name
selected_row = df[df.index.str.contains("CONSTRUCTION AND OTHERS")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("DIESEL OIL WITHOUT BIODIESEL")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
DS_other_FEC = DS_other_FEC + selected_row[selected_column].values[0, 0]
# Efficiency of diesel machinery
Eff_DS_machinery_other=1/2.6568
# Diesel consumption for mechanical energy (GWh)
DS_machinery_other_FEC = DS_other_FEC-total_sum
# End-use demand related to diesel machinery for mechanical energy (GWh)
DS_machinery_other_EUD = DS_machinery_other_FEC*Eff_DS_machinery_other
# Energy intesity per capita related to diesel machinery for mechanical energy (GWh/person)
DS_machinery_other_EI = DS_machinery_other_EUD/total_population


# New rows to be added to the results dataframe
new_rows = [
    ['Fishing & Others', 'Fishing & Others', 'Fishing & Others', 'Machinery', 'DS Fish Machinery', '', '', '', '','', DS_machinery_other_FEC, '', '', Eff_DS_machinery_other, DS_machinery_other_EI, 'GWh/person', DS_machinery_other_EUD, 'GWh fishing mechanical energy'],
    ['Fishing & Others', 'Fishing & Others', 'Fishing & Others', 'Machinery', 'EL Fish Machinery', EL_machinery_other_FEC, '','', '', '', '', '', '', Eff_EL_machinery_other, EL_machinery_other_EI, 'GWh/person', EL_machinery_other_EUD, 'GWh fishing mechanical energy']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>10.2. Graphs</b></font> <a class="anchor" id="section_10_2"></a>

---

<font size="3"><b>10.2.1. Bar chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_10_2_1"></a>

In [96]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:24: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:30: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [97]:
# Filter rows where 'Sector' column contains 'Commercial'
filtered_df = copied_df[copied_df['Sector'].str.contains('Fishing & Others')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=700,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Type of usage',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)

<font size="3"><b>10.2.2. Pie chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_10_2_2"></a>

In [98]:
# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Fishing & Others')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Division
fig = make_subplots(rows=1, cols=1, subplot_titles=grouped_df['Division'].unique(), specs=[[{'type': 'pie'}]*1]*1)

row, col = 1, 1
for division in grouped_df['Division'].unique():
    values = grouped_df[grouped_df['Division'] == division][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=division,
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique divisions than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=950,
    width=1375,
    annotations=[dict(text=header, font=dict(size=15), showarrow=False) for i, (header, col, row) in enumerate(zip(grouped_df['Division'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")

[[Click on this link to return to the table of contents]](#contents)


---

<font size="5"><b>11. Non-energy</b></font> <a class="anchor" id="section_11"></a>

---


---

<font size="4"><b>11.1. High value chemicals (HVC)</b></font> <a class="anchor" id="section_11_1"></a>

---

In [99]:
# Find the row with a specific name
selected_row = df[df.index.str.contains("NON-ENERGY CONSUMPTION")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("NATURAL GAS")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
FG_non_energy_FEC = selected_row[selected_column].values[0, 0]
# Find the row with a specific name
selected_row = df[df.index.str.contains("NON-ENERGY CONSUMPTION")]
# Find the column with a specific name
selected_column = selected_row.columns[selected_row.columns.str.contains("NON-ENERGY")].tolist()
# Extract the numerical value from the intersection of the selected row and the selected column
LFO_non_energy_FEC = selected_row[selected_column].values[0, 0]
# Efficiency of fossil gas boiler for HVC
Eff_FG_non_energy=0.62
# End-use demand related to HVC (GWh)
FG_non_energy_EUD = FG_non_energy_FEC*Eff_FG_non_energy
# Energy intesity per capita related to fossil gas boiler for HVC (GWh/person)
FG_non_energy_EI = FG_non_energy_EUD/total_population
# Efficiency of LFO boiler for HVC
Eff_LFO_non_energy=0.50
# End-use demand related to HVC (GWh)
LFO_non_energy_EUD = LFO_non_energy_FEC*Eff_LFO_non_energy
# Energy intesity per capita related to LFO boiler for HVC (GWh/person)
LFO_non_energy_EI = LFO_non_energy_EUD/total_population

# New rows to be added to the results dataframe
new_rows = [
    ['Non-energy', 'HVC', 'HVC', 'High Temp Heat', 'FG Boiler', '', FG_non_energy_FEC, '', '', '', '', '', '', Eff_FG_non_energy, FG_non_energy_EI, 'GWh/person', FG_non_energy_EUD, 'GWh HVC'],
    ['Non-energy', 'HVC', 'HVC', 'High Temp Heat', 'LFO Boiler', '', '','', '', '', '', '', LFO_non_energy_FEC, Eff_LFO_non_energy, LFO_non_energy_EI, 'GWh/person', LFO_non_energy_EUD, 'GWh HVC']
]
# Create a new DataFrame for the new rows
new_df = pd.DataFrame(new_rows, columns=End_Use_df.columns)
# Concatenate the existing DataFrame and the new DataFrame
End_Use_df = pd.concat([End_Use_df, new_df], ignore_index=True)
# Display the DataFrame
styled_df = new_df.style.hide()
styled_df


---

<font size="4"><b>11.2. Graphs</b></font> <a class="anchor" id="section_11_2"></a>

---

<font size="3"><b>11.2.1. Bar chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_11_2_1"></a>

In [100]:
# Make a copy of the DataFrame
copied_df = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
copied_df[numeric_cols] = copied_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert empty values to NaN in the first 5 columns
copied_df.iloc[:, :5] = copied_df.iloc[:, :5].applymap(lambda x: x if x != '' else pd.NA)

# Create a new column 'Division'
copied_df['Division'] = ''

# Iterate through each row
for index, row in copied_df.iterrows():
    # Iterate through the first 5 columns in reverse order
    for i in range(4, -1, -1):
        if pd.notna(row[i]):
          if row[0] == 'Transport':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Residential' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Public Lighting':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Commercial' and row[1] == 'Other Appliances':
            copied_df.at[index, 'Division'] = row[i]
          elif row[0] == 'Industrial' and row[1] == 'Cement':
            copied_df.at[index, 'Division'] = row[i-2]
          elif row[0] == 'Industrial' and row[2] == 'MSMEs':
            copied_df.at[index, 'Division'] = row[i-2]
          else:
            copied_df.at[index, 'Division'] = row[i-1]
          break

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:9: FutureWarning:

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:18: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:19: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:21: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:23: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:25: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:27: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:29: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:32: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:20: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:24: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Pablo Jimenez Z\AppData\Local\Temp\ipykernel_13432\1126028377.py:30: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [101]:
# Filter rows where 'Sector' column contains 'Commercial'
filtered_df = copied_df[copied_df['Sector'].str.contains('Non-energy')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Exclude headers with no values
grouped_df = grouped_df.loc[:, (grouped_df != 0).any(axis=0)]

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a stacked bar plot using plotly express
fig = px.bar(melted_df, x='Header', y='Values', color='Division',
             #title='Stacked Bar Plot by Division for Residential Sector',
             labels={'Values': 'FEC (GWh)', 'Header': ''})

# Update layout for better readability
fig.update_layout(
    height=700,
    width=1375
)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Type of usage',
    legend_title_font=dict(size=12.5)
)

# Show the plot
fig.show(renderer="iframe")

<font size="3"><b>11.2.2. Pie chart - Final energy consumption by type of usage</b></font> <a class="anchor" id="section_11_2_2"></a>

In [102]:
# Filter rows where 'Sector' column contains 'Residential'
filtered_df = copied_df[copied_df['Sector'].str.contains('Non-energy')]

# Group by 'Division' and sum the values for each header
grouped_df = filtered_df.groupby('Division')[['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].sum()

# Sort the DataFrame by the sum of values in each row in descending order
grouped_df = grouped_df.loc[grouped_df.sum(axis=1).sort_values(ascending=False).index]

# Reset the index to make 'Division' a regular column
grouped_df = grouped_df.reset_index()

# Melt the DataFrame to create a long format for plotly express
melted_df = pd.melt(grouped_df, id_vars='Division', var_name='Header', value_name='Values')

# Create a subplot with pie charts for each Division
fig = make_subplots(rows=1, cols=1, subplot_titles=grouped_df['Division'].unique(), specs=[[{'type': 'pie'}]*1]*1)

row, col = 1, 1
for division in grouped_df['Division'].unique():
    values = grouped_df[grouped_df['Division'] == division][['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']].iloc[0]

    # Filter values less than or equal to 0 and exclude them from the pie chart
    values = values[values > 0]

    # Check if there are any values left to display
    if not values.empty:
        fig.add_trace(
            go.Pie(
                labels=values.index,
                values=values,
                name=division,
                domain={'x': [0.15, 0.15], 'y': [0.15, 0.15]}  # Adjust the domain to make the pie chart larger
            ),
            row=row, col=col
        )

    col += 1
    if col > 4:
        col = 1
        row += 1
        if row > 2:  # Added to handle cases where there are more unique divisions than subplot rows
            break

# Update layout for better readability
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=13),
    height=950,
    width=1375,
    annotations=[dict(text=header, font=dict(size=15), showarrow=False) for i, (header, col, row) in enumerate(zip(grouped_df['Division'].unique(), cycle(range(1, 5)), cycle([1, 2])))]
)

# Show the plot
fig.show(renderer="iframe")


---

<font size="5"><b>12. Model output</b></font> <a class="anchor" id="section_12"></a>

---


---

<font size="4"><b>11.2. Final dataframe</b></font> <a class="anchor" id="section_12_1"></a>

---

In [103]:
# Display the DataFrame
styled_df = End_Use_df.style.hide()
styled_df

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>12.2. Download dataframe</b></font> <a class="anchor" id="section_12_2"></a>

---

In [104]:
# Download dataframe in a csv file
nombre_archivo_csv = "datos.csv"
End_Use_df.to_csv(nombre_archivo_csv, sep=';', index=False)

In [105]:
# Download dataframe in an Excel file
nombre_archivo_excel = "out.xlsx"
End_Use_df.to_excel(nombre_archivo_excel, index=False, engine='openpyxl')

[[Click on this link to return to the table of contents]](#contents)


---

<font size="4"><b>12.3. Graphs</b></font> <a class="anchor" id="section_12_3"></a>

---

<font size="3"><b>12.3.1. Bar chart - Final energy consumption by sector</b></font> <a class="anchor" id="section_12_3_1"></a>

In [106]:
# Create a copy of the End_Use_df DataFrame
End_Use_copy = End_Use_df.copy()

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
End_Use_copy[numeric_cols] = End_Use_copy[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Create a new column 'Total' for the sum of values across the specified headers
End_Use_copy['Total'] = End_Use_copy[numeric_cols].sum(axis=1)

# Create the 'Resource' column with the names of headers for each row
End_Use_copy['Resource'] = End_Use_copy.apply(lambda row: ', '.join([col for col in numeric_cols if not pd.isna(row[col])]), axis=1)

# Create facetted subplots using plotly.express
fig = px.bar(End_Use_copy,
             x='Resource',
             y=numeric_cols,
             facet_col='Sector',
             color_discrete_sequence=px.colors.qualitative.Set3)

# Update layout for better readability
fig.update_layout(
    height=625,
    width=1375,
    yaxis_title='FEC (GWh)',  # Update y-axis title
)

# Hide x-axis title for all subplots
fig.update_xaxes(title_text='', showticklabels=True)

# Update legend title
fig.update_layout(
    showlegend=True,
    legend_title_text='Resources',
    legend_title_font=dict(size=12)
)

# Show the plot
fig.show(renderer="iframe")

In [107]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming End_Use_df is your DataFrame with the specified headers
# Replace End_Use_df with your actual DataFrame

# Convert non-numeric values in all numeric columns to NaN
numeric_cols = ['EL', 'FG', 'LPG', 'WD', 'RES_SOLAR', 'DS', 'GS', 'LFO']
End_Use_df[numeric_cols] = End_Use_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Extract unique values for 'Sector'
sectors = End_Use_df['Sector'].unique()

# Create subplots for each sector and group by headers
fig, axs = plt.subplots(3, 3, figsize=(20, 10), sharey=True)

# Loop through each sector
for i, sector in enumerate(sectors):
    # Filter DataFrame for the current sector
    sector_df = End_Use_df[End_Use_df['Sector'] == sector]

    # Loop through each numeric column
    for j, header in enumerate(numeric_cols):
        # Plot the stacked bar chart for the current header and sector
        axs[i // 3, i % 3].barh(sector_df.index, sector_df[header], label=header)

    axs[i // 3, i % 3].set_title(f'Sector: {sector}')
    axs[i // 3, i % 3].legend()
    axs[i // 3, i % 3].set_xlabel('Value')

plt.tight_layout(rect=[0, 0.03, 1, 0.95])
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

[[Click on this link to return to the table of contents]](#contents)